In [8]:
nums = [1,2,3,4,5,6,7,4.5]
new_list = []
for i in nums:
    new_list.append(i)
print("new_list",new_list)

new_list1 =[]
for n in nums:
    new_list1.append(n*n)
print("new_list1",new_list1)

new_list [1, 2, 3, 4, 5, 6, 7, 4.5]
new_list1 [1, 4, 9, 16, 25, 36, 49, 20.25]

In [14]:
# NOW THROUGH LIST COMPREHENSION
nums = [1,2,3,4,5,6,7,4.5]
new_list1 = [x for x in nums]
print(new_list1)
print()
new_list2 = [x*x for x in nums]
print(new_list2)

[1, 2, 3, 4, 5, 6, 7, 4.5]

[1, 4, 9, 16, 25, 36, 49, 20.25]

In [12]:
nums1 = [1,2,3,4, 5,6,7,8,12,14,13,15,17,21]
list1 = []
for n in nums1:
    if n%2 == 0:
        list1.append(n)
print(list1)

[2, 4, 6, 8, 12, 14]

In [13]:
# BY COMPREHENSIONS
nums1 = [1,2,3,4, 5,6,7,8,12,14,13,15,17,21]
list2 = [x for x in nums1 if x%2==0]
print(list2)

[2, 4, 6, 8, 12, 14]

In [ ]:
I WANT A (LETTER,NUM) PAIR FOR EACH LETTER IN'ABCD' AND EACH NUMBER IN '0123'
EG= A0A1A3A3B0B1B2B3..AND SO ON

In [1]:
my_newlist = []
for letter in 'abcd':
    for num in range(4):
        my_newlist.append([letter,num])
print(my_newlist)
# append can take only 1 argument thats y we talen letters and num inside []

[['a', 0], ['a', 1], ['a', 2], ['a', 3], ['b', 0], ['b', 1], ['b', 2], ['b', 3], ['c', 0], ['c', 1], ['c', 2], ['c', 3], ['d', 0], ['d', 1], ['d', 2], ['d', 3]]

In [ ]:
NOW DOING THE SAME BY USING LIST COMPREHENSIONS BELOW

In [1]:
new_list1 = [[letter,num] for letter in 'abcd' for num in range(4)]
print(new_list1)

[['a', 0], ['a', 1], ['a', 2], ['a', 3], ['b', 0], ['b', 1], ['b', 2], ['b', 3], ['c', 0], ['c', 1], ['c', 2], ['c', 3], ['d', 0], ['d', 1], ['d', 2], ['d', 3]]

In [2]:
new_tup = [(letter,number) for letter in 'abcd' for number in range(4)]
print("new_tup:", new_tup)

new_tup: [('a', 0), ('a', 1), ('a', 2), ('a', 3), ('b', 0), ('b', 1), ('b', 2), ('b', 3), ('c', 0), ('c', 1), ('c', 2), ('c', 3), ('d', 0), ('d', 1), ('d', 2), ('d', 3)]

In [20]:
names =['Bruce','clark','peter','Logan','Wade']
heros = ['Batman','Superman','Spiderman','Wolverine','Deadpool']
print(list(zip(names,heros)))

[('Bruce', 'Batman'), ('clark', 'Superman'), ('peter', 'Spiderman'), ('Logan', 'Wolverine'), ('Wade', 'Deadpool')]

In [22]:
# I want a dict{'name':'hero'} for each name,hero in zip(names,heros)

names =['Bruce','clark','peter','Logan','Wade']
heros = ['Batman','Superman','Spiderman','Wolverine','Deadpool']
new_dict = {}
for names,heros in zip(names,heros):
    new_dict[names] = heros
print(new_dict)

{'Bruce': 'Batman', 'clark': 'Superman', 'peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

In [ ]:
NOW DOING THROUGH COMPREHENSION(Dict Comprehension)

In [30]:
names =['Bruce','clark','peter','Logan','Wade']
heros = ['Batman','Superman','Spiderman','Wolverine','Deadpool']
new_dict = {name:hero for name,hero in zip(names, heros)}
print(new_dict)
print()
new_dict2 = {name:hero for name,hero in zip(names,heros) if name!='peter'}
print(new_dict2)

{'Bruce': 'Batman', 'clark': 'Superman', 'peter': 'Spiderman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

{'Bruce': 'Batman', 'clark': 'Superman', 'Logan': 'Wolverine', 'Wade': 'Deadpool'}

In [ ]:
SET COMPREHENSIONS

In [32]:
nums = [1,1,2,1,3,4,3,4,5,5,6,7,8,7,8,9,10,10]
# now we r creating set from this list(nums)
new_set = set()
for num in nums:
    new_set.add(num)
print(new_set)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [ ]:
EXAMPLE 2

In [4]:
nums = (1,1,2,1,3,4,3,4,5,5,6,7,8,7,8,9,10,10)
to_set=set()
to_set1 =set()
for i in nums:
    print("i:", i,end=",")
    to_set.add(i)
    to_set1.add(i*i)
print('Created set is: ', to_set)
print('Created set1 is: ', to_set1)

i: 1,i: 1,i: 2,i: 1,i: 3,i: 4,i: 3,i: 4,i: 5,i: 5,i: 6,i: 7,i: 8,i: 7,i: 8,i: 9,i: 10,i: 10,Created set is:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Created set1 is:  {64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [ ]:
SET COMPREHENSION

In [36]:
nums = [1,1,2,1,3,4,3,4,5,5,6,7,8,7,8,9,10,10]
new_set = {x for x in nums}
print("new_set",new_set)
new_set1  = {x for x in nums if x%2 ==0}
print("new_set1",new_set1)

new_set {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
new_set1 {2, 4, 6, 8, 10}

In [ ]:
through GENERATOR

In [37]:
nums = [1,2,3,4,5,6,7,8,9,10]
def gen_func(n):
    for i in n:
        yield i*i
x1 = gen_func(nums)
print(x1)
print(type(x1))
for a in x1:
    print(a)

<generator object gen_func at 0x000001B588E4C6D0>
<class 'generator'>
1
4
9
16
25
36
49
64
81
100

In [39]:
# THROGH COMPREHENSION(WE USE HERE TUPLE COMPREHENSION)
nums = [1,2,3,4,5,6,7,8,9,10]
my_gen = (x*x for x in nums)
print(my_gen)
for i in my_gen:
    print(i)

<generator object <genexpr> at 0x000001B588E4CBA0>
1
4
9
16
25
36
49
64
81
100