In [ ]:
LAMBDA-It is function  without name.It is nameless function, also called Anonymous Function.
It can take any number of argument(i.e-x or x,y or x,y,z etc) but contains only 1 expression i.e x+y,x*3+1 etc.
It is represent by keyword Lambda and not def.
It use less code only 1-2 line of code.
one time use.
no need to write return statement

In [1]:
calc = lambda num: "Even number" if num%2==0 else "odd Number"
print(calc(20))

Even number

In [12]:
x = lambda b:b*b +10
c = x(3)
print(c)

y = lambda a,b:a+b+10
z = y(10,20)
print(z)

add = lambda a,b:a+b
c = add(12,12)                   #print(add(12,12))
print(c)

add_sub = lambda a,b:(a+b, a-b)
x,y = add_sub(10,20)
print(x)
print(y)

19
40
24
30
-10

In [ ]:
Lambda function FROM GEEKS FOR GEEKS

In [2]:
filter_nums = lambda s: ''.join([ch for ch in s if not ch.isdigit()])
print(filter_nums("Geeks2410"))

Geeks

In [1]:
def countvowels(somestring):
    count = 0
    for ch in somestring:
        if ch in('A','E','I','O','U','a','e','i','o','u'):
            count+=1
    return count 
name =input("Enter the name:")
c = countvowels(name) 
print("No of vowels used in Name:", c)
# print(type(countvowels))

Enter the name:jaiprakash
No of vowels used in Name: 4

In [4]:
print(name.upper())

JAIPRAKASH

In [8]:
print(type(countvowels))

<class 'function'>

In [10]:
print(id(countvowels))

2536422553632

In [6]:
hex(id(countvowels))

'0x24e8e90b940'

# HIGH ORDER FUNCTION ---[FILTER,  MAP,  REDUCE]

# FILTER FUNCTION

In [ ]:
# LAMBDA WITH USER-DEFINED FUNCTION
def A(x):
    return lambda y:x+y
c = A(5)
print(c(10))
d = A(10)
print(d(10))

In [ ]:
MAP,FILTER,REDUCE

In [ ]:
FILTER

In [ ]:
Filter Syntax
Filter(function,iterable)

In [2]:
# FILTER WITHIN LAMBDA
my_list = [1,2,3,4,5,6,9,12,16,15]
new_list = list(filter(lambda a:a%3==0, my_list))
print(new_list)

[3, 6, 9, 12, 15]

In [15]:
# my_list = [1,2,3,4,5,6,9,12,16,15]
new_tup =tuple(filter(lambda x:x%2==0, (2,4,3,6,7,9,11,12,14)))
print(new_tup)

(2, 4, 6, 12, 14)

In [5]:
def greater_than_10(num):
    return num>10

list = [3,5,6,12,16,13,11,19,21,23]
more_values = tuple(filter(greater_than_10, list))
print("more_values:", more_values)

more_values: (12, 16, 13, 11, 19, 21, 23)

In [29]:
def less_than_zero(lis):
    '''used to add negative value in new list'''
    new_list = []
    for i in lis:
        if i<0:
            new_list.append(i)
    return new_list
lis=[-3,-2,-5,12,-19,6,9,18]
n = less_than_zero(lis)
print("new_list with negative value:", n)
print("pop:", n.pop(1))
print("n:", n)
print("append:", n.append(-2))
print("n:", n)
print("remove:", n.remove(-19))
print("n:", n)
print()
print(id(n))
print(hex(id(n)))
print(type(less_than_zero))
print(less_than_zero.__doc__)
# f24 = open('samm.txt', 'w')
# print(f24(n))

new_list with negative value: [-3, -2, -5, -19]
pop: -2
n: [-3, -5, -19]
append: None
n: [-3, -5, -19, -2]
remove: None
n: [-3, -5, -2]

2021252024192
0x1d69c024780
<class 'function'>
used to add negative value in new list

TypeError: '_io.TextIOWrapper' object is not callable

In [33]:

lis=[-3,-2,-5,12,-19,6,9,18]
new_tup = tuple(filter(lambda x:x<0, lis))
print("new_tup:", new_tup)

new_tup: (-3, -2, -5, -19)

In [ ]:
IMPORTANT BELOW

In [35]:
# from geeksforgeeks
def vowel_in_list(varr):
    letters =['a','e','i','o','u']
    if(varr in letters):
        return True
    else:
        return False
    
sequences = ['i','u','p','y','t','j']
filtered = tuple(filter(vowel_in_list, sequences))
print("filtered: ", filtered)
print()

filtered:  ('i', 'u')

In [6]:
# from w3.school.com 

def myfun(x):
    if x>18:
        return True
    else:
        return False
ages = [5, 12, 17, 18, 24, 32]
adult  =list(filter(myfun,ages))
print("Adult:", adult)
for i in adult:
    print("i:", i)

# ages = [5, 12, 17, 18, 24, 32]

Adult: [24, 32]
i: 24
i: 32

In [14]:
# FILTER WITHIN LAMBDA
a = [12,45,76,34,98,90,112,100,45,16,23,20,21,45,48,3,36,51,56]
result = list(filter(lambda n:n>=60,a))
print(result)
print(type(result))
for i in result:
    print(i)

[76, 98, 90, 112, 100]
<class 'list'>
76
98
90
112
100

# MAP FUNCTION-In this it change or modify the entire element in sequence and return and stored in another sequence(another list)

In [15]:
# LAMBDA WITHIN MAP
my_list = [1,2,3,4,5,6,9,11,12,15,14]
new_list = list(map(lambda a:a/3!=2, my_list))
new_list1 = tuple(map(lambda a:a*a+2, my_list))
print(new_list)
print(new_list1)

[True, True, True, True, True, False, True, True, True, True, True]
(3, 6, 11, 18, 27, 38, 83, 123, 146, 227, 198)

In [5]:
a = [10,20,30,40,50]
new_set = set(map(lambda x:x+10, a))
print(new_set)

{40, 50, 20, 60, 30}

In [6]:
new_list = list(map(lambda x:x-2, a))
print(new_list)

[8, 18, 28, 38, 48]

In [7]:
new_list = list(map(lambda x:x*3, a))
print(new_list)

[30, 60, 90, 120, 150]

In [9]:
new_list =list(map(lambda x:x/5, a))
print(new_list)

[2.0, 4.0, 6.0, 8.0, 10.0]

In [10]:
new_tuple = tuple(map(lambda n:n/5==10, a))
print(new_tuple)

(False, False, False, False, True)

In [11]:
new_tuple =tuple(map(lambda x:x**2, a))
print(new_tuple)

(100, 400, 900, 1600, 2500)

In [12]:
new_tuple = tuple(map(lambda x:x.upper(), 'jai'))
print(new_tuple)

('J', 'A', 'I')

In [13]:
def to_upper_case(x):
    return str(x).upper()
new_list = list(map(to_upper_case, 'python'))
print(new_list)

['P', 'Y', 'T', 'H', 'O', 'N']

In [14]:
new_tup = tuple(map(lambda x:x+x*2, a))
print(new_tup)

(30, 60, 90, 120, 150)

In [17]:
a = [10,20,30,40,50]
b = [1,2,3,4,5]
result = tuple(map(lambda n,m:n+m,a,b))
print(result)
for i in result:
    print(i)
result2 = list(map(lambda x:x*x, a))
print(result2)

(11, 22, 33, 44, 55)
11
22
33
44
55
[100, 400, 900, 1600, 2500]

In [12]:
# map function from code with harry(you tube)

def square(x):
    return x*x
def cube(x):
    return x*x*x
func = [square, cube]
for i in range(7):
    
    val =list(map(lambda x:x(i), func))
    print("val:", val)

val: [0, 0]
val: [1, 1]
val: [4, 8]
val: [9, 27]
val: [16, 64]
val: [25, 125]
val: [36, 216]

# REDUCE-IT REDUCE THE SEQUENCE OF ELEMENT TO A SINGLE VALUE

In [18]:
# LAMBDA WITH REDUCE
from functools import reduce   #from functools import *  or import functools
x= [10,20,30,40,50,60,70]
result = reduce(lambda a,b:a+b,x)
print(result)

280

# ALGEBRAIC EXPRESSION USING LAMBDA(EDUREKA)

# LINEAR EQUATIONS

In [19]:
# 3x +4y
d = lambda n,m:2*n+3*m
val = d(2,2)
print(val)

10

# quadratic equation

In [20]:
# (a+b)**2
x = lambda x,y:(x+y)**2
val = x(3,4)
print(val)

49

In [1]:
a= 7
print(a)

7

In [ ]:
SOME FUNCTION FROM CODE_WITH_HARRY(YOU TUBE)