# LIST

In [ ]:
1)It is one of the built-in ordered data strucure in python which consists of diferernt elements separated by comma and 
encloded in square bracket.These different element can be number,float,boolean,complex,string,tuple,list,set,dictionary
2)List may contains duplicate values
3)A list can also have another list as an item. This is called a Nested list
4)List is a Mutable data type.i.e Inside List,element can be modified,deleted and new element can be added.
Mutable means an object whose value can be changed once it is created
5)Element in List can be accessed through indexing,idexing start with 0..indexing is actually length-1,if length of list is
7 then index wil bt 0,1,2,3,4,5,6.

In [15]:
# BLANK LIST
list = []
print('blank_list',list)
print()

# LIST OF NUMBERS
list1 = [1,2,3,4,7.8,0.9]
print("list of numbers",list1)
print()
# LIST OF STRING
list2  =['j','dam','sam']
print("list of string", list2)
print()

# Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
list4 = [[1,2,3],['jai','python']]
print("list4",list4)
print()

# CREATING LIST WITH DUPLICATE VAUES

List5 = [1,2,3,6,7,7,8,9]
print("doublicate_value_list",List5)
print()

# CREATING LIST WITH MIXED VALUES

List6 = [1,2.3,True,'u',(9,0),[1,2],{8,'f'}]
print("listwithmixedvalues", List6)

# KNOWING THE SIZE OF LIST
List7 = [1,3.4,'f',(1,2),[8,9],9]
print("length_of_list",len(List7))

blank_list []

list of numbers [1, 2, 3, 4, 7.8, 0.9]

list of string ['j', 'dam', 'sam']

list4 [[1, 2, 3], ['jai', 'python']]

doublicate_value_list [1, 2, 3, 6, 7, 7, 8, 9]

listwithmixedvalues [1, 2.3, True, 'u', (9, 0), [1, 2], {8, 'f'}]
length_of_list 6

In [1]:
grocery = ["bread","milk","bread"]
product = enumerate(grocery)
print(product)
# print(list(product))
print(tuple(product))

<enumerate object at 0x0000026EA840B180>
((0, 'bread'), (1, 'milk'), (2, 'bread'))

In [2]:
# WHEN WE 
# COPY THE LIST AND IF THEN WE MAKE CHANGES IN ONE LIST, THEN CHANGES WILL REFLECT IN MODIFYING LIST ONLY AND
# NOT IN ORIGINAL LIST,THIS IS CALLED SHALLOW COPY
a= [1,3,2,7,5,10,8,1,3,2,2]
print("a=", a)
c = a.copy()
print("c=", c)
print()
print(id(a))
print(id(c))
print()
a[0] = 111
print("a = ", a)
print("id(a)", id(a))
print("c=", c)
print("id(c)", id(c))
c[0] = 112
print("c=", c)
print("a:",a)

a= [1, 3, 2, 7, 5, 10, 8, 1, 3, 2, 2]
c= [1, 3, 2, 7, 5, 10, 8, 1, 3, 2, 2]

2674292039488
2674292214400

a =  [111, 3, 2, 7, 5, 10, 8, 1, 3, 2, 2]
id(a) 2674292039488
c= [1, 3, 2, 7, 5, 10, 8, 1, 3, 2, 2]
id(c) 2674292214400
c= [112, 3, 2, 7, 5, 10, 8, 1, 3, 2, 2]
a: [111, 3, 2, 7, 5, 10, 8, 1, 3, 2, 2]

# LIST VS NUMPY ARRAY--NUMPY ARRAY IS MUCH MORE FASTER THAN LIST AND IT ALSO CONSUMED LESS MEMORY AS COMPARED TO LIST

In [4]:
# HOW NUMPY IS FASTER THAN LIST
import numpy as np
import sys
import time
s = 1000000
list1 = range(s)
list2 = range(s)
array1 = np.arange(s)
array2 = np.arange(s)
print("time before combining 2 lists")
start = time.time()
new_list = [(a*b) for a,b in zip(list1, list2)]
print("time taken to combine 2 lists", time.time()-start, "seconds")
print()
print("time before combining 2 arrays")
start2 = time.time()
result2 = array1*array2
print("Time taken to combine 2 arrays", time.time()-start2, "seconds")
print()
print("hence proved Array takes less time which means it is way more faster than list")

time before combining 2 lists
time taken to combine 2 lists 1.1085364818572998 seconds

time before combining 2 arrays
Time taken to combine 2 arrays 0.015662193298339844 seconds

hence proved Array takes less time which means it is way more faster than list

In [8]:
# HOW NUMPY TAKE LESS SIZE (I.E) LESS MEMORY THAN LIST.
import numpy as np
import sys
import time
list1 = range(500)
array = np.arange(500)
print("Size or Memory used by list", sys.getsizeof(list1)*len(list1),"bytes")
print("Size or Memory used by array is", array.size*array.itemsize,"bytes")
print()
print("Hence proved numpy array also take less memory than list")

Size or Memory used by list 24000 bytes
Size or Memory used by array is 2000 bytes

Hence proved numpy array also take less memory than list

# How to select unique value from the list

In [7]:
def unique(lista):
    unique_list = []
    for a in lista:
        if a not in unique_list:
            unique_list.append(a)
    for i in unique_list:
        print(i)
list1 = [1,24,4,5,4,24,1,100,7,8,5,100]
unique(list1)
print()
list2= [100,600,100,600,400]
unique(list2)

1
24
4
5
100
7
8

100
600
400

In [5]:
a= [1,3,2,7,5,10,8,1,3,2,2]
b = a
print(a)
print(b)

print()

print(id(a))
print(id(b))

print()

a[0] = 100
print(a)
print(b)
print(id(a))
print(id(b))

print()

a = a[0:5]
print(a)

print()

print(id(a))
print(id(b))
print()
     
print("now suppose")
a1 = a[1:5]
b1 = b[1:5]
print(a1)
print(id(a1))
print(b1)
print(id(b1))
# this above both will have different id's

[1, 3, 2, 7, 5, 10, 8, 1, 3, 2, 2]
[1, 3, 2, 7, 5, 10, 8, 1, 3, 2, 2]

1906424972608
1906424972608

[100, 3, 2, 7, 5, 10, 8, 1, 3, 2, 2]
[100, 3, 2, 7, 5, 10, 8, 1, 3, 2, 2]
1906424972608
1906424972608

[100, 3, 2, 7, 5]

1906424016512
1906424972608

now suppose
[3, 2, 7, 5]
1906424015168
[3, 2, 7, 5]
1906424972352

# Program to print Every index of Duplicate Element in list(amulya)

In [1]:
list1  =["jai", 1,2,1,3,"l",9,9]
print(list1.index(1))

1

In [10]:
list1 = [1,1,2,2,5,7,10,11,12,10,7,17,10]
list2 =[i for i in range(len(list1))]
print(list2)
print()

# Now suppose print position of all 10 value from list1
list3 = [i for i in range(len(list1)) if list1[i]== 10]
print(list3)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

[6, 9, 12]

In [7]:
list1  =["jai", 1,2,1,3,"l",9,9,2]
for i in list1:
    print(i)
print()
for j in range(len(list1)):
    print(j)

jai
1
2
1
3
l
9
9

0
1
2
3
4
5
6
7

In [ ]:
NOW WE DO THE PROGRAM

In [5]:
list1 = [1,2,3,4,1,5,9,5,10,2,3]
# we do it by list comprehension
list2  =[i for i in range(len(list1))]
print(list2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
list1 = [1,2,3,4,1,5,9,5,10,2,3]
# we do it by list comprehension
list3 = [i for i in range(len(list1)) if list1[i]==2]
print(list3)

[1, 9]

In [ ]:
similarly

In [9]:
list1 = [1,2,3,4,1,5,9,5,10,2,3]
list4 = [i for i in range(len(list1)) if list1[i]==3]
print(list4)

[2, 10]

In [1]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [ ]:
APPEND IN LIST

In [ ]:
APPEND():Add only single value to the End of list
It only take only one argument like number,boolean,complex,float,tuple,tuple oftuple,tupleoflist,tupleoflist n tuple,list,
listoflist,listoftuple
It also include bracket

In [14]:
l1 = [1,'j',9.0]
print(l1,"type:", type(l1))
print("now appending")
l1.append(100)
print(l1)
print()
l1.append(10.12)
print(l1)
print()
l1.append(True)
print(l1)
print()
l1.append('p')
print(l1)
print()
l1.append((24,25))
print(l1)
print()
l1.append([66,'h',0])
print(l1)
print()
l1.append({'m','n'})
print(l1)
print()
print("It can also append tuple of tuple, or tuple list or tuple list n tuple, same with list")
l2 = [23,'k']
print(l2)
l2.append(('j',8,(90,1),[1,1]))
print(l2)
# here above we added tuple of tuple n list
print()
l2 = [23,'k']
print(l2)
l2.append([1,1,(0,0),['b','c']])
print(l2)
# herre we addes list of tuple n list

[1, 'j', 9.0] type: <class 'list'>
now appending
[1, 'j', 9.0, 100]

[1, 'j', 9.0, 100, 10.12]

[1, 'j', 9.0, 100, 10.12, True]

[1, 'j', 9.0, 100, 10.12, True, 'p']

[1, 'j', 9.0, 100, 10.12, True, 'p', (24, 25)]

[1, 'j', 9.0, 100, 10.12, True, 'p', (24, 25), [66, 'h', 0]]

[1, 'j', 9.0, 100, 10.12, True, 'p', (24, 25), [66, 'h', 0], {'m', 'n'}]

It can also append tuple of tuple, or tuple list or tuple list n tuple, same with list
[23, 'k']
[23, 'k', ('j', 8, (90, 1), [1, 1])]

[23, 'k']
[23, 'k', [1, 1, (0, 0), ['b', 'c']]]

In [26]:
List11 =[]
print('list11', List11)
List11.append(1)
List11.append(2)
List11.append('jam')
print("list11:",List11)
print()
for i in range(3,8):
    List11.append(i)
    print("List11", List11)

list11 []
list11: [1, 2, 'jam']

List11 [1, 2, 'jam', 3]
List11 [1, 2, 'jam', 3, 4]
List11 [1, 2, 'jam', 3, 4, 5]
List11 [1, 2, 'jam', 3, 4, 5, 6]
List11 [1, 2, 'jam', 3, 4, 5, 6, 7]

In [ ]:
EXTEND IN LIST

In [ ]:
EXTEND()METHOD
It also take one parameter and that can be str,lst,tuple,set
and not number,boolean,float,complex, ok
# It extend or remove outer bracket of tuple,set,list which u pass

In [25]:
lis = [1,'j']
print("list:", lis)
print("using extend method")
lis.extend((9,0))
print(lis)
print()
lis = [1,'j']
print("list:", lis)
lis.extend((4,5,('g','a'),['python','tableau']))
print(lis)
print()
lis = [1,'j']
print("list:", lis)
lis.extend([78,80,'j'])
print(lis)
print()
lis = [1,'j']
print("list:", lis)
lis.extend("jai")
print(lis)
print()
lis = [1,'j']
print("list:", lis)
lis.extend([4,5,['a','s'],(0,8)])
print(lis)

list: [1, 'j']
using extend method
[1, 'j', 9, 0]

list: [1, 'j']
[1, 'j', 4, 5, ('g', 'a'), ['python', 'tableau']]

list: [1, 'j']
[1, 'j', 78, 80, 'j']

list: [1, 'j']
[1, 'j', 'j', 'a', 'i']

list: [1, 'j']
[1, 'j', 4, 5, ['a', 's'], (0, 8)]

In [ ]:
INSERT METHOD()

In [ ]:
To add elements in List in the desire position we need INSERT() METHOD
It takes 2 arguments
(position, value)

In [31]:
List = [1,2,3,4]
print("Initial List: ")
print(List)
print()
List.insert(0,"jai")
List.insert(2,24)
print("newlist:", List)
print()
List.insert(0,(9,0))
print("List: ", List)
print()
List.insert(1,[90,'k'])
print("newlist: ", List)

Initial List:
[1, 2, 3, 4]

newlist: ['jai', 1, 24, 2, 3, 4]

List:  [(9, 0), 'jai', 1, 24, 2, 3, 4]

newlist:  [(9, 0), [90, 'k'], 'jai', 1, 24, 2, 3, 4]

In [ ]:
ACCESSING ELEMENTS FROM THE LIST

In [5]:
List = ["Geeks", "For", "Geeks"]
# list using index numberaccessing a element from the
# list using index number
print(List[0])
print(List[1])
print()
#  Creating a Multi-Dimensional List
# (By Nesting a list inside a List)
List1 = [['Geeks', 'For'] , ['Geeks']]
print(List1[0])
print(List1[1])
print(List1[0][1])
print(List1[1][0])

Geeks
For

['Geeks', 'For']
['Geeks']
For
Geeks

In [ ]:
NEGATIVE INDEXING

In [7]:
List = [1, 2, 'Geeks', 4, 'For', 6, 'Geeks']
 
# accessing an element using
# negative indexing
print("Accessing element using negative indexing")
print(List[-1])
print(List[-3])

Accessing element using negative indexing
Geeks
For

In [ ]:
SLICING:Means nting specific range of value from list is called slicing
 Slicing can be like 2:9 0r 2::3(double slicing) or 1:10:3(triple slicing)

In [10]:
list = [1,'k',8.9,'p','d','c',11,12,13,14,15,16,17,18,19,20,(3,4,12)]
print(list)
print(type(list))
print()
slice_list = list[1:8]
print("slice_list", slice_list)
print()
slice_list1 =list[3:7]
print('slice_list1', slice_list1)
print()
slice_list2 = list[4:]
print('slice_list2', slice_list2)
print()
slice_list3 =list[:6]
print('slice_list3', slice_list3)
print()
slice_list4 =list[:]
print('slice_list4', slice_list4)
print()
slice_list5 = list[2::3]
print('slice_list5', slice_list5)
# [2::3] it means from position 2, take every 3rd element from list
print()
slice_list6 = list[1:14:3]
print('slice_list6',slice_list6)

[1, 'k', 8.9, 'p', 'd', 'c', 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, (3, 4, 12)]
<class 'list'>

slice_list ['k', 8.9, 'p', 'd', 'c', 11, 12]

slice_list1 ['p', 'd', 'c', 11]

slice_list2 ['d', 'c', 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, (3, 4, 12)]

slice_list3 [1, 'k', 8.9, 'p', 'd', 'c']

slice_list4 [1, 'k', 8.9, 'p', 'd', 'c', 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, (3, 4, 12)]

slice_list5 [8.9, 'c', 13, 16, 19]

slice_list6 ['k', 'd', 12, 15, 18]

In [ ]:
NEGATIVE LIST SLICING

In [15]:
List = ['G','E','E','K','S','F',
        'O','R','G','E','E','K','S']
print("Initial List: ")
print(List)
print()
new_lst = List[:-8]
print('new_lst', new_lst)
print()
new_lst1 = List[4:-3]
print('new_lst1', new_lst1)
print()
new_lst2 =List[-8:-2]
print('new_lst2',new_lst2)
print()
new_lst3 = List[::-1]
print(new_lst3, new_lst3)
# [::-1] means all value in List in reverse order

Initial List:
['G', 'E', 'E', 'K', 'S', 'F', 'O', 'R', 'G', 'E', 'E', 'K', 'S']

new_lst ['G', 'E', 'E', 'K', 'S']

new_lst1 ['S', 'F', 'O', 'R', 'G', 'E']

new_lst2 ['F', 'O', 'R', 'G', 'E', 'E']

['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G'] ['S', 'K', 'E', 'E', 'G', 'R', 'O', 'F', 'S', 'K', 'E', 'E', 'G']

In [ ]:
LIST COMPREHENSION

In [ ]:
It is used to create new list from other iterable object like List,Tuple,String,Array
Syntax = [expression[element]for element in oldList if condition]

In [16]:
#  below list contains square of all
# odd numbers from range 1 to 10
odd_square =[x**2 for x in range(1,11)if x%2==1]
print('odd_square', odd_square)

odd_square [1, 9, 25, 49, 81]

In [1]:
# THE ABOVE CODE IS SAME AS

odd_square = []
for i in range(1,11):
    if i%2==1:
        odd_square.append(i**2)
print(odd_square)

[1, 9, 25, 49, 81]

In [4]:
List = []
for character in 'Geeks For Geeks':
    List.append(character)
print("List: ", List)

List:  ['G', 'e', 'e', 'k', 's', ' ', 'F', 'o', 'r', ' ', 'G', 'e', 'e', 'k', 's']

In [5]:
List = [character for character in 'Geeks for Geeks']
print('List:', List)

List: ['G', 'e', 'e', 'k', 's', ' ', 'f', 'o', 'r', ' ', 'G', 'e', 'e', 'k', 's']

In [ ]:
List contain power of 2 from 1 to 8

In [1]:
new_list = [x**2 for x in range(2,9) ]
print("new_list", new_list)

new_list [4, 9, 16, 25, 36, 49, 64]

In [ ]:
Below List that contain lower case of characters

In [3]:
lowercharacter = [ x.lower() for x in ['A', 'B','C','D']]
print("lowercharacter: ", lowercharacter)

lowercharacter:  ['a', 'b', 'c', 'd']

In [ ]:
LIST WHICH EXTRACT ONLY NUMBERS FROM STRING

In [9]:
new_str= "My number is :9560661736!!!"
new_List =[ x for x in new_str if x.isdigit()]
print("new_list", new_List)

new_list ['9', '5', '6', '0', '6', '6', '1', '7', '3', '6']

In [1]:
str1 = 'Amul1234'
lis = [x for x in str1 if x.isalpha()]
print("list containing text: ", lis)

list containing text:  ['A', 'm', 'u', 'l']

In [3]:
str2 = [[1,2,3],[5,6,'k'],['a','d']]
print("str2", str2)
print()
str3 = [ x[0] for x in str2]
print("str3", str3)

str2 [[1, 2, 3], [5, 6, 'k'], ['a', 'd']]

str3 [1, 5, 'a']

In [6]:
x = [1,2,3,4]
y = [2,3,1,2]
new_lis = [a+b for a in x for b in y]
print("new_lis", new_lis)

new_lis [3, 4, 2, 3, 4, 5, 3, 4, 5, 6, 4, 5, 6, 7, 5, 6]

In [5]:
def square(x):
    return x*x
square_list = [square(x) for x in range(1,11)]
print('square_list: ', square_list)

square_list:  [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
CREATING LIST FROM RANGE

In [3]:
new_lst1 =List(range(1,12,3))
print("new_lst1", new_lst1)

NameError: name 'List' is not defined

In [ ]:
NESTED LIST COMPREHESION

In [7]:
matrix = []
for i in range(2):
    matrix.append([])
    for j in range(5):
        matrix[i].append(j)
print("matrix:", matrix)

matrix: [[0, 1, 2, 3, 4], [0, 1, 2, 3, 4]]

In [8]:
matrix1 =[]
for i in range(3):
    matrix1.append([])
    for j in range(6):
        matrix1[i].append(j)
print("matrix1", matrix1)

matrix1 [[0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5], [0, 1, 2, 3, 4, 5]]

In [ ]:
REMOVE

In [ ]:
It will remove only one element at a time.It removes only the specified item.To remove a range of elements,iterator is used
It will throw an error, if there is no elements in the List

In [7]:
List = [1, 2, 3, 4, 5, 6,
        7, 8, 9, 10, 11, 12]
print("List", List)
print()
List.remove(3)
List.remove(5)
print("List", List)
print()

# REMOVING RANGE OF ELEMENTS FROM LIST
List1 = [1, 2, 3, 4, 5, 6,
        7, 8, 9, 10, 11, 12]
print("List1", List1)
print()

for i in range(2,6):
    List1.remove(i)
print("List1: ", List1)

List [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List [1, 2, 4, 6, 7, 8, 9, 10, 11, 12]

List1 [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

List1:  [1, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
POP()METHOD

In [ ]:
It will remove only last element from the list by default.To remove specified element from the List, We have to specified
the index number of that particular elements, ok

In [10]:
List2 = [1,2,3,4,5,6,7,8]
print("List2: ", List2)
print()
List2.pop()
print("List2", List2)
print()
List2.pop(3)
print("List2: ", List2)

List2:  [1, 2, 3, 4, 5, 6, 7, 8]

List2 [1, 2, 3, 4, 5, 6, 7]

List2:  [1, 2, 3, 5, 6, 7]

In [ ]:
DEL[A:B]:=This method deletes all the elements in the range

In [2]:
lis = [2, 1, 3, 5, 4, 3, 8, 11, 15]
print("lis:", lis)
del lis[2:4]
print("after deleting new list", lis)

lis: [2, 1, 3, 5, 4, 3, 8, 11, 15]
after deleting new list [2, 1, 4, 3, 8, 11, 15]

In [ ]:
SORT IN LIST

In [4]:
lis = [2, 1, 3, 5, 3, 8]
print("lis", lis)
print()
lis.sort()
print(lis)

lis [2, 1, 3, 5, 3, 8]

[1, 2, 3, 3, 5, 8]

In [ ]:
REVERSE IN LIST

In [10]:
lis = [2, 1, 3, 5, 3, 8]
print("lis", lis)
print()
lis.reverse()
print(lis)
print()
for i in range(0, len(lis)):
    print(lis[i])

lis [2, 1, 3, 5, 3, 8]

[8, 3, 5, 3, 1, 2]

8
3
5
3
1
2

In [ ]:
CLEAR()

In [20]:
lis = [2, 1, 3, 5, 3, 8]
print("lis", lis)
print(lis.clear())

lis [2, 1, 3, 5, 3, 8]
None

In [ ]:
INDEX

In [24]:
list1 = [1, 2, 3, 4, 1, 1, 1, 4, 5]
print("list1", list1)
print()
print(list1.index(4))
print()
list2 = ['cat', 'bat', 'mat', 'cat', 'pet']
print("list2", list2)
print(list2.index('pet'))
print()
list11 = [6 , 8 , 5 , 6 , 1 , 2, 6]
print("list11", list11)
print(list11.index(6,1))
print()
list3 = [1, 2, 3, [9, 8, 7], ('cat', 'bat')]
print("list3:", list3)
print(list3.index([9,8,7]))
print()
print(list3.index(('cat','bat')))

list1 [1, 2, 3, 4, 1, 1, 1, 4, 5]

3

list2 ['cat', 'bat', 'mat', 'cat', 'pet']
4

list11 [6, 8, 5, 6, 1, 2, 6]
3

list3: [1, 2, 3, [9, 8, 7], ('cat', 'bat')]
3

4

In [ ]:
COUNT

In [29]:
list1 = [1, 1, 1, 2, 3, 2, 1]
print("list1", list1)
print()
print(list1.count(1))
print()
list22 = ['a', 'a', 'a', 'b', 'b', 'a', 'c', 'b']
print("list22", list22)
print(list22.count("b"))
print()
list3 = ['Cat', 'Bat', 'Sat', 'Cat', 'cat', 'Mat']
print("list3", list3)
print(list3.count('Cat'))

list1 [1, 1, 1, 2, 3, 2, 1]

4

list22 ['a', 'a', 'a', 'b', 'b', 'a', 'c', 'b']
3

list3 ['Cat', 'Bat', 'Sat', 'Cat', 'cat', 'Mat']
2

In [ ]:
COPY() METHOD

In [52]:
list20 = [ 1, 2, 3, 4]
print("list20", list20)
print()
list21 = list20.copy()
print("list21", list21)
print()
print("id(list20)", id(list20))
print("id(list21)", id(list21))
print()
list20.append(24)
print("list20 after appending 24", list20)
print("list21 after appending 24", list21)
print()
list20[0] = 30
print("modifying list20",list20)
print("modifying list21", list21)
print()
list22 = list20
print("id(list20)", id(list20))
print("id(list22)", id(list22))
print()
list22[1] = 32
print("list22 after modifying", list22)
print("list20 after modifying", list20)
print()
list22.append(40)
print("list20 after appending 40", list20)
print("list22 after appending 40", list22)

list20 [1, 2, 3, 4]

list21 [1, 2, 3, 4]

id(list20) 2735734809408
id(list21) 2735734628864

list20 after appending 24 [1, 2, 3, 4, 24]
list21 after appending 24 [1, 2, 3, 4]

modifying list20 [30, 2, 3, 4, 24]
modifying list21 [1, 2, 3, 4]

id(list20) 2735734809408
id(list22) 2735734809408

list22 after modifying [30, 32, 3, 4, 24]
list20 after modifying [30, 32, 3, 4, 24]

list20 after appending 40 [30, 32, 3, 4, 24, 40]
list22 after appending 40 [30, 32, 3, 4, 24, 40]

In [55]:
listaa = [ 1, [2, 3] , 4 ]
print("listaa", listaa)
print()
listaa.append(10)
print("listaa after appending", listaa)
print()
listaa[1][1] =230
print("listaa after changing value", listaa)

listaa [1, [2, 3], 4]

listaa after appending [1, [2, 3], 4, 10]

listaa after changing value [1, [2, 230], 4, 10]

In [ ]:
CONVERTING TUPLE TO LIST

In [2]:
lis = list((24,)*5)
print("lis:", lis)
print()
print("type(lis):", type(lis))

lis: [24, 24, 24, 24, 24]

type(lis): <class 'list'>