In [ ]:
# Dictionary are python built-in data type which store element in key value pair
# in which keys cannot be duplicated and its data type are integers,float, string, tuple
# and value can be duplicated and its datatype are integers,float,boolean,string
# tuple,list,set,dict
# dictionary is unordered collection of element

In [1]:
# CREATING BLANK DICTIONARY
my_dict = dict()
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>

In [2]:
# CREATING DICTIONARY FROM LIST of list
my_dict = dict([[1,"jai"],[(9,0),"html"],["maths","hard"],["sam",["py","sy"]]])
print(my_dict)

{1: 'jai', (9, 0): 'html', 'maths': 'hard', 'sam': ['py', 'sy']}

In [5]:
# CREATING DICTIONARY FROM TUPLE OF TUPLE AND LIST
my_dict = dict((("jai",24),(("sam",),35),("science",[1]),["s","g"]))
print(my_dict)
print(type(my_dict))

{'jai': 24, ('sam',): 35, 'science': [1], 's': 'g'}
<class 'dict'>

In [9]:
# CREATING DICTONARY OF VALUES
my_dict = {"name":"jai", "marks":[45,56,78], (2,4):(4,16), 24:34, "pet":{"dog":"laila", "cat":"nanacy"}}
print(my_dict)

{'name': 'jai', 'marks': [45, 56, 78], (2, 4): (4, 16), 24: 34, 'pet': {'dog': 'laila', 'cat': 'nanacy'}}

In [10]:
# ACESSING ALL FUNCTIONS, METHODS OF DICTIONAY
print(dir(my_dict))

['__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [1]:
# ACESSING VALUES FROM THE DICTIONARY
my_dict = {"name":"jai", "marks":[45,56,78], (2,4):(4,16), 24:34, "pet":{"dog":"laila", "cat":"nanacy", "lion":{"name":"maya"}}}
print(my_dict)
# my_dict["name"]
# my_dict["marks"]
# # my_dict[(2,4)]
# my_dict["pet"]
# my_dict["pet"]["dog"]
# my_dict["pet"]["cat"]
# my_dict[24]
# print(type(my_dict["marks"]))
# my_dict["marks"][0]
# my_dict["marks"][2]
# my_dict["marks"][1]
# print(type(my_dict["pet"]))
# for i in my_dict["marks"]:
#     print(i)
# my_dict[(2,4)]
# my_dict[(2,4)][0]
# my_dict[(2,4)][1]
# my_dict["name"]
# my_dict["age"] returns error
# my_dict["pet"]["cat"]
# my_dict["pet"]["lion"]["name"] important
# print(my_dict.get("pet")["lion"]["name"])

{'name': 'jai', 'marks': [45, 56, 78], (2, 4): (4, 16), 24: 34, 'pet': {'dog': 'laila', 'cat': 'nanacy', 'lion': {'name': 'maya'}}}
maya

In [53]:
# ACESSING VALUE FROM DICTIONARY BY GET() METHOD[it also returns value from key]
# if GET() METHOD DO NOT FIND ANY VALUE THEN IT RETURNS NONE INSTEAD OF ERROR.
my_dict = {"name":"jai", "marks":[45,56,78], (2,4):(4,16), 24:34, "pet":{"dog":"laila", "cat":"nanacy", "lion":{"name":"maya"}}}
print(my_dict)
# my_dict.get("name")
# my_dict.get((2,4))
# my_dict.get("pet")
# my_dict.get("pet")
# my_dict.get("marks")
# my_dict.get("age")
# my_dict.get("subject") return none and not error
# my_dict.get("age", 35) return value 35 which is define here

{'name': 'jai', 'marks': [45, 56, 78], (2, 4): (4, 16), 24: 34, 'pet': {'dog': 'laila', 'cat': 'nanacy', 'lion': {'name': 'maya'}}}

35

In [55]:
# DICTIONARY CAN HAVE DUPLICATE VALUES AND KEYS CAN NOT BE DUPLICATED
# stu = {101:"rahul", 102:"raj",103:"maths",104:"maths"}--values are dupblicated
# # print(s/
# stu1 = {"name":"jai", "marks":[56,45,78], "age":34, "name":"sam"} here key cannot be duplicated, ok
print(stu1)

{'name': 'sam', 'marks': [56, 45, 78], 'age': 34}

In [141]:
# MODIFYING DICTIONARY--we can modify the existing key of dict by assigning new value
# dictionary id remain the same even after we modify dictionary


my_dict = {"name":"jai", "marks":[45,56,78], (2,4):(4,16), 24:34, "pet":{"dog":"laila", "cat":"nanacy", "lion":{"name":"maya"}}}
print(my_dict)
# my_dict["name"] = "vijay"
# print(my_dict)
# my_dict["marks"][0] = 100
# print(my_dict)
# my_dict["marks"] = (100,200)
# print(my_dict)
# my_dict["pet"]["dog"] = "hujurala"
# print(my_dict)
# my_dict["pet"]["lion"]["name"] = "kaya"
# print(my_dict)
# my_dict[(2,4)][0] = 3 can not change bcoz it is tuple
# print(my_dict)
# my_dict[24] = 25
# print(my_dict)
# my_dict["marks"][2] = 100
# print(my_dict)
# dict2 = {("name",):45, "subject":["hard"]}
# print(dict2)
# dict2[("name",)]= "jai"
# print(dict2)

{'name': 'jai', 'marks': [45, 56, 78], (2, 4): (4, 16), 24: 34, 'pet': {'dog': 'laila', 'cat': 'nanacy', 'lion': {'name': 'maya'}}}
{('name',): 45, 'subject': ['hard']}
{('name',): 'jai', 'subject': ['hard']}

In [142]:
# ADDING NEW ITEM TO A DICTIONARY by mentioning new key value pair.if key already there then it update thevalue

dict = {101:"jai","people":[{"name":"s","age":2},{"name":"u","age":4}]}
print(dict[101])
# print(type(dict['people']))
# print(dict['people'][1]['name'])
# print(dict['people'][1]['age'])
# print(dict['people'][0])
# print(dict['people'][0]['age'])
print(dict["people"][0]["name"])
# now adding value
dict["designation"] = "data analyst"
print(dict)
dict[101] = "vijay"
print(dict)

jai
s
{101: 'jai', 'people': [{'name': 's', 'age': 2}, {'name': 'u', 'age': 4}], 'designation': 'data analyst'}
{101: 'vijay', 'people': [{'name': 's', 'age': 2}, {'name': 'u', 'age': 4}], 'designation': 'data analyst'}

In [87]:
# KEYS() METHOD
stu = {101:"rahul", 102:"jai", 103:"sonam"}
stu_keys = stu.keys()
print(stu_keys)
stu_list = list(stu_keys)
print(stu_list)
print(type(stu_list))
print(stu_list[0])
print(stu_list[1])
print(stu_list[2])
for i in stu.keys():
    print(i, end=" ")

dict_keys([101, 102, 103])
[101, 102, 103]
<class 'list'>
101
102
103
101 102 103

In [92]:
# VALUES() METHOD
stu = {101:"rahul", 102:"jai", 103:"sonam"}
dict_val = stu.values()
print(dict_val, type(dict_val))
dict_list = list(dict_val)
print(dict_list, type(dict_list))
print(dict_list[0])
print(dict_list[1])
print(dict_list[2])
for i in stu.values():
    print(i, end=",")

dict_values(['rahul', 'jai', 'sonam']) <class 'dict_values'>
['rahul', 'jai', 'sonam'] <class 'list'>
rahul
jai
sonam
rahul,jai,sonam,

<!-- ITEMS() METHOD -->it returns key -value pair
stu = {101:"rahul", 102:"jai", 103:"sonam"}
dict_items = stu.items()
print(dict_items, type(dict_items)

In [102]:
# items()method
stu = {101:"rahul", 102:"jai", 103:"sonam"}
# dict_items = stu.items()
# print(dict_items, type(dict_items))
# dict_list = list(dict_items)
# print(dict_list)
# print(dict_list[0][0])
# print(dict_list[0][1])
# print(dict_list[1][0])
# print(dict_list[1][1])
# print(dict_list[2][0])
# print(dict_list[2][1])
# for i in dict_list:
#     for k in i:
#         print(k, end=",")

for key, value in stu.items():
print(key, value)

IndentationError: expected an indented block (<ipython-input-102-541fc7374849>, line 18)

In [113]:
# DELETE DICTIONARY
# my_dict = {"name":"jai", "marks":[45,56,78], (2,4):(4,16), 24:34, "pet":{"dog":"laila", "cat":"nanacy", "lion":{"name":"maya"}}}
# print(my_dict)
# del my_dict["name"]
# print(my_dict)
# del my_dict["marks"]
# print(my_dict)
# del my_dict["pet"]["lion"]["name"]
# print(my_dict)
# del my_dict["pet"]["dog"]
# print(my_dict)
# del my_dict["pet"]["cat"]
# print(my_dict)
# # # 
# del stu

{'name': 'jai', 'marks': [45, 56, 78], (2, 4): (4, 16), 24: 34, 'pet': {'dog': 'laila', 'cat': 'nanacy', 'lion': {'name': 'maya'}}}
{'marks': [45, 56, 78], (2, 4): (4, 16), 24: 34, 'pet': {'dog': 'laila', 'cat': 'nanacy', 'lion': {'name': 'maya'}}}
{(2, 4): (4, 16), 24: 34, 'pet': {'dog': 'laila', 'cat': 'nanacy', 'lion': {'name': 'maya'}}}
{(2, 4): (4, 16), 24: 34, 'pet': {'dog': 'laila', 'cat': 'nanacy', 'lion': {}}}
{(2, 4): (4, 16), 24: 34, 'pet': {'cat': 'nanacy', 'lion': {}}}
{(2, 4): (4, 16), 24: 34, 'pet': {'lion': {}}}

In [114]:
# CLEAR() METHOD
stu = {101:"rahul", 102:"jai", 103:"sonam"}
stu.clear()
print(stu)

{}

In [134]:
# POP() METHOD-It remove the item from dict with specified key
stu = {101:"rahul", 102:"jai", 103:"sonam", "person":[{"name":"jai"},{"name":"sam"}]}
# stu1 = {("name","firstposition"):"jai", 34:"http"}
# x = stu1.pop(("name", "firstposition"))
print(x)
print(stu1)
# x = stu1.pop(34)
# print(x)
# print(stu1)
# print(type(stu["person"]))
# x = stu.pop("person")[1]
# print(x)
# print(stu)
# value_return = stu.pop(103)
# print(value_return)
# print(stu)
# # x = stu.pop("age", 37)--it return the value of key "age"which is not there in dictionary
# print(x)

jai
{34: 'http'}

In [132]:
# POPITEM() METHOD -it remove the last item in dictionary
stu = {101:"rahul", 102:"jai", 103:"sonam", "person":[{"name":"jai"},{"name":"sam"}]}
stu1 = {101:"rahul", 102:"jai", 103:"sonam"}
x = stu1.popitem()
print(x)
print(stu1)

# x = stu.popitem()
# print(x)
# print(stu)

(103, 'sonam')
{101: 'rahul', 102: 'jai'}

In [136]:
# TESTING KEY THROUGH MEMBERSHIP OPERATOR
stu = {101:"rahul", 102:"jai", 103:"sonam"}
print(101 in stu)
print(104 not in stu)
print(102 not in stu)
print(106 not in stu)
print(103 in stu)

True
True
False
True
True

In [139]:
# COPY()METHOD--In this both dictionary  will have different memory location i.e different ID 
# which modification in one dict will not reflect in 
# copied dictionary and vice versa

stu = {101:"rahul", 102:"jai", 103:"sonam"}
print(stu)
print(id(stu))
new_dict = stu.copy()
print(new_dict)
print(type(new_dict))
print(id(new_dict))
stu[101] = "jai"
print(stu)
print(new_dict)--Here 'rahul did not change to 'jai

{101: 'rahul', 102: 'jai', 103: 'sonam'}
2148382815232
{101: 'rahul', 102: 'jai', 103: 'sonam'}
<class 'dict'>
2148381572032
{101: 'jai', 102: 'jai', 103: 'sonam'}
{101: 'rahul', 102: 'jai', 103: 'sonam'}

In [148]:
# FROMKEYS() METHOD-create dictionary from keys and values
keys = ("jai", 34,("age","sal"))
values = ["python"]
x = dict.fromkeys(keys, values)
print(x)

keys = ["jai", 40,("name","age")]
values =("python","great")
x = dict.fromkeys(keys, values)
print(x)

keys = ("jai","maths",98)
values = "java","c"
x = dict.fromkeys(keys, values)
print(x)

keys = ["jai",78,("name","sal")]
values = 90
x = dict.fromkeys(keys, values)
print(x)

keys = ("employee", "salary")
x = dict.fromkeys(keys)
print(x)

{'jai': ['python'], 34: ['python'], ('age', 'sal'): ['python']}
{'jai': ('python', 'great'), 40: ('python', 'great'), ('name', 'age'): ('python', 'great')}
{'jai': ('java', 'c'), 'maths': ('java', 'c'), 98: ('java', 'c')}
{'jai': 90, 78: 90, ('name', 'sal'): 90}
{'employee': None, 'salary': None}

In [155]:
# UPDATE METHOD IN DICTIONARY--ID WILL BE SAME
stu = {"name":"jai","age":34}
# data1 = ("power",3000)it canot be used
# data = {"salary":34000,("designation",):"Analyst","years":8}
stu.update(data)
print(stu)
# print(stu[('designation',)])

{'name': 'jai', 'age': 34, 'salary': 34000, ('designation',): 'Analyst', 'years': 8}

In [159]:
# SETDEFAULT METHOD IN DICTIONARY--it returns the value of the specified key
# if key is not found ,then it inserts the key wid specified values. id will remain same
stu = {'name': 'jai', 'age': 34, 'salary': 34000}
print("Original dic")
x = stu.setdefault('age')
print(x)

stu = {'name': 'jai', 'age': 34, 'salary': 34000}
print()
x = stu.setdefault("age", 40)
print(x)

stu = {'name': 'jai', 'age': 34, 'salary': 34000}
print()
x = stu.setdefault("subject", "data science")
print(x)

Original dic
34

34

data science

In [161]:
# ACCESSING VALUE THROUGH LOOP IN DICTIONARY
stu = {101: 'jai', 'age': 34, 'salary': 34000}
print(stu)
for key in stu:
    print(key,"=", stu[key])

{101: 'jai', 'age': 34, 'salary': 34000}
101 = jai
age = 34
salary = 34000

In [166]:
# CRETING DICTIONARY FROM INPUT USER

blank_dict = {}
num = int(input("Enter the number of elements"))
for i in range(num):
    key = input("enter the value")
    value = input("enter the value")
    blank_dict.update({key:value})
print(blank_dict)

Enter the number of elements5
enter the value101
enter the valuejai
enter the valueroll no
enter the value34
enter the value("salary,)
enter the value34000
enter the valuesubject
enter the value["science"]
enter the valueid
enter the value12
{'101': 'jai', 'roll no': '34', '("salary,)': '34000', 'subject': '["science"]', 'id': '12'}

In [178]:
# CREATIMG NESTED DICTIONARY
a = {"course":"python", "fees":15000, 1:{"course":"java", "fees":34000,2:{"city":"ggn"}}}
print(a)
a[1]["course"]
a["fees"]
a[1]["fees"] = 40000
a[1]["course"] = "machine"
print(a)
del a[1]["course"]
a[1][("skills",)] ="css"
a[1][2]["location"] = "sec10a"
print(a)

{'course': 'python', 'fees': 15000, 1: {'course': 'java', 'fees': 34000, 2: {'city': 'ggn'}}}
{'course': 'python', 'fees': 15000, 1: {'course': 'machine', 'fees': 40000, 2: {'city': 'ggn'}}}
{'course': 'python', 'fees': 15000, 1: {'fees': 40000, 2: {'city': 'ggn', 'location': 'sec10a'}, ('skills',): 'css'}}

In [174]:
# BLANK DICTIONARY
a = {"a":{},"b":{},"c":{}}
print(a)

{'a': {}, 'b': {}, 'c': {}}

In [181]:
# LOOPING THROUGH NESTED DICTIONARY
a = {"course":"python","fees":12000,1:{"skill":"c","duration":"6month"}}
print(a)
for i in a:
    print(i)
print()
for i in a:
    if type(a[i])is dict:
        for j in a[i]:
            print(j,"=",a[i][j])
    else:
        print(i,"=",a[i])

{'course': 'python', 'fees': 12000, 1: {'skill': 'c', 'duration': '6month'}}
course
fees
1

course = python
fees = 12000
1 = {'skill': 'c', 'duration': '6month'}

In [184]:
# LOOPING THROUGH NESTED DICT
a = {1:{"skill":"c","duration":"1month"},2:{"course":"java", "level":"tough"}}
print(a)
for i in a:
    print(i)
for i in a:
    for k in a[i]:
        print(k,"=", a[i][k])
print("done")

{1: {'skill': 'c', 'duration': '1month'}, 2: {'course': 'java', 'level': 'tough'}}
1
2
skill = c
duration = 1month
course = java
level = tough
done

In [9]:
new_dict  =dict()
print(new_dict)
print(type(new_dict))
new_dict = dict(name="jai",marks=78,age=29,gendar="male",subject="maths")
print(new_dict)

{}
<class 'dict'>
{'name': 'jai', 'marks': 78, 'age': 29, 'gendar': 'male', 'subject': 'maths'}

In [11]:
# Nested dictionaries ate dictionaries that lies within another dictionaries
# HashMap or Hash table is a data structure that maps key to its value pair
emp_detail = {"employee":{"jai":{"id":"001", "salary":70000,"designation":"TeamLead"},"sam":{"id":"002","salary":90000,"designation":"data analyst"}}}
print(emp_detail)

{'employee': {'jai': {'id': '001', 'salary': 70000, 'designation': 'TeamLead'}, 'sam': {'id': '002', 'salary': 90000, 'designation': 'data analyst'}}}