In [25]:
-Tuple is one of bulit-in data structure of python which consists of different type of elements 
such as number,float,boolean,complex,tuple,list,set,dict and it is represented by ().It also contain
duplicate and tuple are always in order
-It is immutable data type i.e data can not be modified or updated and can not remove single value from tuple
-It occupied less memory compare to List
It is heterogeneous

SyntaxError: invalid syntax (<ipython-input-25-58797a4ee6ac>, line 1)

In [ ]:
tup = ()
print(tup)
print(type)

In [ ]:
tup1  =(23,)
print(tup1)
print(type(tup1))
tup2 = ("jai",)
print(tup2)
tup3 = ((9,0),)
print(tup3)

In [ ]:
# tuple of number
tup = (1,2,3,4,5)
print(tup)
# tuple of string
tup1 = ("jai","g","p")
print(tup1)

In [26]:
# tuple of all mix element of data
data = (9,3.4,False,(9,0),[1,2],{6,7})
print(data)
data1 = 4,5.6,"g",(9,9)
print(data1)

(9, 3.4, False, (9, 0), [1, 2], {6, 7})
(4, 5.6, 'g', (9, 9))

In [27]:
INDEX = it represent the position of tuple's element.It start from 0 onwards. it is length-1

SyntaxError: invalid syntax (<ipython-input-27-e5307e8c1426>, line 1)

In [ ]:
# tuple of tuples
a = ((9,0),(1,2,"j",4.5))
print(a)
print(type(a))

In [ ]:
tuple1 = "jai","001","HR dept",34
print(tuple1)
empname,empid,departmentName,age = tuple1
print(empname)
print(empid)
print(departmentName)
print(age)
print(type(tuple1))

In [ ]:
tup2 = ("w","e","l","c","o","m","e")
tup3 = ("j","2",7,6.7,True,[6,7,[1,2]],(1,2))
# slicing retriev a range of elements
print(tup3)
# print(tup3[1:7:2])
# print(tup3[2::2])
# print(tup3[0::3])
# print(tup3[2:])
# print(tup3[:])
# print(tup3[-4:-1])
# print(tup3[-5:])
# print(tup3[0:4])
# print(tup3[1:7])
# print(tup3[3])
# print(tup3[5])
# print(tup3[5][2])
# print(tup3[6])
# print(tup3[6][1])

# print(tup2)
# print(tup2[3])
# print(tup2[0])
# print(tup2[-1])
# print(tup2[-3])
# print(tup2[0:4])
# print(tup2[1:5])
# print(tup2[-6:-2])
# print(tup2[2:])
# print(tup2[:4])
# print(tup2[0:6:2])
# print(tup2[1:6:3])
# print(tup2[2::3])
# print(tup2[0::2])
# print(tup2[::-1])
# print(tup2[::1])

In [ ]:
# TUPLE ARE IMMUTABLE IN NATURE
tup2 = ("w","e","l","c","o","m","e")
# print(tup2)
# tup2[1] = "j"
# # print(tup2)
# LIst inside tuple can be modified
# tup3  =(6,7,(9,0),["jai",4])
# print(tup3)
# print(tup3[3])
# print(tup3[3][0])
# print(tup3[3][1])

# tup3[3][1] = 24
# tup3[3][0] = "sam"
# print(tup3)

# tup3[3] = ("sam",2)---it will not work
# print(tup3)
# DELETE OPERATION
# del tup3[0]-- it will not work it will not delete single item
# print(tup3)
# ENTIRE TUPLE CAN BE DELETED
# del tup3
# print(tup3)

# TUPLES CAB BE REASSIGNED
# tup3 = (5,8,(10,11),["HAM",2])
# print(tup3)
tup5 =(40,50)
tup6= tup2+tup5
print(tup6)
print(id(tup2))--both hav different address
print(id(tup6))

In [ ]:
# CONCATENATION OF TUPES
tup4 = ("w","e","l")
tup5 = ("c","o","m","e")
tup6 = (5,6.7,True,"jai")
print(tup4 +tup5)
print(tup4 + tup6)

In [ ]:
# FIND LENGTH
thistuple = ("banana","apple","cabbage","orange")
print(thistuple)
print(len(thistuple))

In [ ]:
# DUPLICATE CAN BE ALLOWED
a= (6,7,6,3,9,9,6)
print(a)

In [ ]:
# NOT A TUPLE
thistuple = ("jai")---tuple require comma with a single value which is not there eg - thistuple = ("jai",)
print(thistuple)
print(type(thistuple))

In [ ]:
# TUPLE CONSTRUCTOR
thistuple = tuple(["apple", "banana", "cherry"])
print(thistuple)
print(type(thistuple))

In [ ]:
# REPEATING TUPLES N TIMES
test_tup = (1,3)
N = 4
res = test_tup *N
print(res)
res1  =((test_tup,)*N)
print(res1)
print(("again",)*4)
print((["jai"])*2)

In [ ]:
a = (5,"jai",(2,3,8,9,"g","l"))
print(a)
print(a[0])
print(a[2])
print(a[1])
print(a[1][1])
print(a[2][0:3])

In [ ]:
# COUNT AND INDEX FUNCTION IN TUPLE
tup2 = ("w","e","l","c","o","m","e")
print(tup2.count("e"))
print(tup2.index("e"))-- by default index show index number of first occurance of "e" which is 1
print(tup2.index("e",2))

In [ ]:
# MEMBERSHIP OPERATOR IN TUPLE I.E IN, NOT IN
tup2 = ("w","e","l","c","o","m","e")
print("c" in tup2)
print("w" in tup2)
print("c" not in tup2)
print("k" not in tup2)

In [ ]:
# FOR LOOP ON TUPLES
tup2 = ("w","e","l","c","o","m","e")
for letter in tup2:
    print("The letters are", letter)
print()
for letter in range(len(tup2)):
    print("The letters are", tup2[letter])
print()
tup11 = (101,102,103,104,105,106,107,108)
n = len(tup11)
for i in range(n):
    print(i," ", tup11[i])
print()
x = tup11[0:4]
for i in x:
    print(i)
print()
for i in range(len(x)):
    print(x[i])
print()
x1 = tup11[4:]
for i in x1:
    print(i)
print()
x2 = tup11[-4:]
for i in x2:
    print(i)
print()
x4 = tup11[0:8:2]
for i in x4:
    print(i)
print()
x5 = tup11[-5:-2]
for i in x5:
    print(i)

In [ ]:
# WHILE LOOP
tup1 = (12,5.6,False,"geeks",(9,0))
n = len(tup1)
i  =0
while i<n:
    print(tup1[i])
    i+=1
print("done")

In [ ]:
tuple7 = (22,334,300,2,22,66,11)
print(max(tuple7))
print(min(tuple7))
print(sorted(tuple7))
print(len(tuple7))

In [ ]:
GEEKYSHOWS(YOUTUBE)-----NOW BELOW

In [ ]:
IMPORTANT-HOW TO ADD VALUE IN TUPLE

In [ ]:
a = ("jai",24,7.8,True,(9,0),[1,2],1)
t1 = a[0:3]
t2  =a[3:]
c1 = (5,566)-- can only add tuple
t3 = t1+c1+t2
print(t3)

In [ ]:
HOW TO DELETE SINGLE VALUE FROM TUPLE(SEE BELOW)

In [ ]:

a = (10,20,-50,21.3,'geekyshows')
s1 = a[0:2]
s2 = a[3:]
s3 = s1+s2
print(s3)

#

In [ ]:
# GETTING INPUT FROM THE USER

In [ ]:
a = []
n = int(input("Enter the number of elements"))
for i in range(n):
    a.append(int(input("Enter the number")))
print(type(a))
a = tuple(a)
print(type(a))
print("Tuple")
for i in a:
    print(i)

In [ ]:
# Aliasing Tuple
a = (10,20,30,40,50)
b = a
print(a)
print(b)
print(id(a))
print(id(b))---both a& b have same id memory

In [ ]:
a = (10,20,30,40,50)
b = a
print(a)
print(b)
print(id(a))
print(id(b))
print()
a = a[0:4]
print(a)
print(b)
print(id(a))
print(id(b))
print(type(a))
print(type(b))

In [ ]:
b =(60,80)
a = (10,20,30,b)
print(a)
print(a[3])
print(a[3][0])
print()
c= ((10,20,30),(40,50,60))
print(c)
print(c[1])
print(c[0])
print(c[1][2])
print(c[0][0])

In [ ]:
# LOOPING THROUGH NESTED TUPLE

In [ ]:
a = (10,20,4.5,"j",(50,60))
print(a)
n = len(a)
for i in range(n):
    if type(a[i]) is tuple:
        if len(a[i])>1:
            m = len(a[i])
            for j in range(m):
                print(i,j,a[i][j])
    else:
        print(i, a[i])

In [ ]:
a = ((10,20,30),(40,50,60))
for r in a:
    for j in r:
        print(j)
    print()

In [ ]:
a = ((10,20,30),(40,50,60))
n =len(a)
for i in range(n):
    for j in range(len(a[i])):
        print(i,j,a[i][j])
    print()

In [ ]:
WHILE LOOP THROUGH NESTED TUPLE

In [28]:
a = (10,20,30,(40,50))
n = len(a)
i =0
while i<n:
    if type(a[i])is tuple:
        if len(a[i])>1:
            j=0
            m = len(a[i])
            while j<m:
                print(i,j,a[i][j])
                j+=1
            i+=1
    else:
        print(i, a[i])
        i+=1

0 10
1 20
2 30
3 0 40
3 1 50

In [29]:
a = ((10,20,30),(40,50,60))
n = len(a)
i = 0
while i<n:
    j = 0
    while j<len(a[i]):
        print(i,j,a[i][j])
        j+=1
    i+=1

0 0 10
0 1 20
0 2 30
1 0 40
1 1 50
1 2 60