In [ ]:
SET...

In [ ]:
1)A set is a unordered collection of elements such as number,float,boolean,str,tuple separated by comma and represented by
curly braces{}
Unordered collection means that element may not appear in the same order in which they entered in the set
2)It do not contain datatype like list,set,dictionary(which are mutable)..ok
3)Sets are unordered so we cannot access its elements using Index
4)A set does not accept Duplicate values
5)It is Mutable, so we can modify it

In [ ]:
A BLANK SET-creating empty set by using set function

In [10]:
a = set()
print(a)

set()

In [18]:
# Do not accept duplicate and order also changed
a = {10,2.3,10,20,20,"jai",True,(1,2)}
print(a)
print(id(a))

{True, 2.3, (1, 2), 10, 20, 'jai'}
2227795463744

In [ ]:
CANNOT ACCESS ELEMENT FROM SET

In [8]:
a = {10,2.3,10,20,20,"jai",True,(1,2)}
print(a[1])

TypeError: 'set' object is not subscriptable

In [ ]:
DO NOT ACCEPT LIST EVEN INSIDE TUPLE (IN CASE OF SET)

In [14]:

a = {1,2.3,(7,8),(3,[1,2])}
print(a)

TypeError: unhashable type: 'list'

In [ ]:
CONVERTING LIST TO SET

In [15]:
l = [1,2,"k",3.4,(9,0)]
new_set = set(l)
print(new_set)
print(type(new_set))

{1, (9, 0), 2, 3.4, 'k'}
<class 'set'>

In [12]:
a = set([1,2,6.7,"g"])
print(a)
print(type(a))

{1, 2, 6.7, 'g'}
<class 'set'>

In [ ]:
CONVERTING Tuple TO SET

In [16]:
t = (1,2,"k",3.4,(9,0))
new_set1 = set(t)
print(new_set1)
print(type(new_set1))

{1, (9, 0), 2, 3.4, 'k'}
<class 'set'>

In [ ]:
CREATING SET FROM STRING

In [2]:
x = 'GeeksforGeeks'
y = set(x)
print(type(y),"y:",y)

<class 'set'> y: {'r', 'e', 's', 'o', 'G', 'k', 'f'}

In [ ]:
CAN ACCEPT DUPLICATE VALUE INSIDE TUPLE IN SET

In [19]:
a = {1,3.4,(1,8,1),"j",True}
print(a)

{1, 3.4, (1, 8, 1), 'j'}

In [ ]:
ADD AND UPDATE METHOD

In [ ]:
ADDING VALUE TO EMPTY SET THROUGH ADD() METHOD

Add()mehod ====which takes only 1 argument.It
can takes numbers,float,boolean,tuple,string.

In [34]:
a = set()
print(a)
a.add(2)
a.add(6.8)
a.add((9,0))
a.add(False)
a.add("j")
print(a)

set()
{False, (9, 0), 2, 'j', 6.8}

In [25]:
a = set()
a.add(1)
a.add(1)
print(a)
it does not takes duplicates values

{1}

In [ ]:
UPDATE TAKES MUTIPLE ARGUMENTS such as str,tuple,list,set and dictionary

In [42]:
a=set()
a.update("jai",{"name":"j"},[5,6],{2,3})
print(a)

{'a', 2, 3, 5, 'j', 6, 'name', 'i'}

In [40]:
a = set()
b={(8,9),"kai",5.6}
a.update(b)
print(a)

{'kai', (8, 9), 5.6}

In [46]:
a= {"j","v"}
print(id(a))
a.update([100,102,103])
print(a)
print(id(a))

2227795463968
{100, 'j', 102, 103, 'v'}
2227795463968

In [ ]:
VARIOUS SETS METHOD

In [ ]:
REMOVE AND DISCARD METHODðŸ‘€ðŸ‘€ðŸ‘€

In [ ]:
Remove method remove element and It raise an error if element does not exists while
Discard method remains unchanged if element does not exists

In [13]:
a = {10,2.3,"geekyshow",True}
print("Original set", a)
print(id(a))
print()
a.remove("geekyshow")
print(a)
print()
a.remove(10)
print(a)
print(id(a))
# a.remove(24)
# print(a) It will throw error


# Discard()method
a = {10,2.3,"geekyshow",True}
print("original sets", a)
print(id(a))
a.discard("geekyshow")
print(a)
a.discard(10)
print(a)
print(id(a))

# if we remove element which is not there then also it do not throw eror
a.discard(20)
print(a)it remain unchanged

Original set {'geekyshow', 10, 2.3, True}
2291739724480

{10, 2.3, True}

{2.3, True}
2291739724480
original sets {'geekyshow', 10, 2.3, True}
2291739722912
{10, 2.3, True}
{2.3, True}
2291739722912
{2.3, True}

In [ ]:
POP() METHOD

In [22]:
x = {'jai','saksham','gungun'}
print("x:", x)
z = x.pop()
print("z:", z)
print()
print("x:", x)
z1 = x.pop()
print("z1:", z1)
# z1 = x.pop()
# print("z1:", z1)

x: {'gungun', 'jai', 'saksham'}
z: gungun

x: {'jai', 'saksham'}
z1: jai

In [ ]:
COPY() METHOD

In [25]:
x = {'jai','saksham','gungun'}
print("x:", x)
c1 = x.copy()
print("c1(copyxvalue):", c1)

x: {'gungun', 'jai', 'saksham'}
c1(copyxvalue): {'gungun', 'jai', 'saksham'}

In [21]:
CLEAR() METHOD

SyntaxError: invalid syntax (<ipython-input-21-7b342a538ac3>, line 1)

In [28]:
a = {1,4.5,True,(9,4),"j"}
print(a)
print(id(a))
print()
a.clear()
print(a)
print(id(a)
#       BOTH HAVE SAME ID

{1, 4.5, 'j', (9, 4)}
2291739724928

set()
2291739724928

In [ ]:
ISDISJOINT

In [8]:
x= {'jai','kelvin','brad'}
y ={'mahek','tam','sam'}
z =x.isdisjoint(y)
print(z)

True

In [11]:
x1= {'jai','kelvin','brad'}
y1= {'jai','kelvin','brad'}
z1 = x1.isdisjoint(y)
print(z1)

True

In [ ]:
ACCESS  ELEMENTS FROM THE LOOPS

In [15]:
a = {10,2.3,"k",True,(9,0)}
for i in a:
    print("The elements are :", i)

The elements are : True
The elements are : (9, 0)
The elements are : 2.3
The elements are : 10
The elements are : k

In [11]:
# I want unique numbers from this number list
number = [1,2,2,3,4,5,5,6,3,4,10,11,11]
print("number: ", number)
print("now see")
s = set(number)
print("s: ", s)
print(type(s))
print()
s.add(12)
s.add(20)
print(s)

number:  [1, 2, 2, 3, 4, 5, 5, 6, 3, 4, 10, 11, 11]
now see
s:  {1, 2, 3, 4, 5, 6, 10, 11}
<class 'set'>

{1, 2, 3, 4, 5, 6, 10, 11, 12, 20}

In [ ]:
GETING INPUT FROM THE USERS

In [21]:
a = set()
print(id(a))
n = int(input("Enter the number of elements"))
for i in range(n):
    e1 = input("Enter the elements")
    a.add(e1)
print(a)

for i in a:
    print(i)

2291739723808
Enter the number of elements3
Enter the elements3
Enter the elements"l"
Enter the elements4.5
{'4.5', '3', '"l"'}
4.5
3
"l"

In [ ]:
COPYING SET ELEMENT IN PYTHON

In [26]:
a = {1,2.3,"True","j",(6,6)}
print("before copy", a)
print(id(a))
print()
print()
new_set  =a.copy()
print("after copy", new_set)
print(id(new_set))

# BOTH HAVE DIFFERENT ID ADDRESS

before copy {1, 2.3, 'j', 'True', (6, 6)}
2291739723808


after copy {1, 2.3, 'True', (6, 6), 'j'}
2291739725600

In [ ]:
IMPORTANT SET FUNCTION

In [ ]:
INTERSECTION:-Bring out common elements from both sets

In [69]:
a = {"rahul","raj", "rani","sonam","jai","mahek"}
b = {"python","java","jaya","rahul","tina","rani"}
print("a:", a)
print("b:", b)
print()
x = a.intersection(b)
print("x:",x)
x1 = b.intersection(a)
print("x1:",x1)

a: {'rani', 'sonam', 'jai', 'mahek', 'rahul', 'raj'}
b: {'jaya', 'tina', 'rani', 'rahul', 'java', 'python'}

x: {'rahul', 'rani'}
x1: {'rahul', 'rani'}

In [ ]:
UNION:all elements in both sets will be there but not duplicate value

In [34]:
a = {"rahul","raj", "rani","sonam","jai","mahek"}
b = {"python","java","jaya","rahul","tina","rani"}
print("a:", a)
print("b:", b)
x =a.union(b)
print(x)
x1 =b.union(a)
print(x1)

a: {'rani', 'sonam', 'jai', 'mahek', 'rahul', 'raj'}
b: {'jaya', 'tina', 'rani', 'rahul', 'java', 'python'}
{'jaya', 'rani', 'tina', 'sonam', 'jai', 'mahek', 'rahul', 'java', 'python', 'raj'}
{'jaya', 'tina', 'rani', 'sonam', 'jai', 'mahek', 'rahul', 'java', 'python', 'raj'}

In [ ]:
DIFFERENCE-

In [68]:
a = {"rahul","raj", "rani","sonam","jai","mahek"}
b = {"python","java","jaya","rahul","tina","rani"}
print("a",a)
print("b",b)
x = a.difference(b)
# It will remove All set b elements from set a and left with element in a 
print("x:",x)
x1=  b.difference(a)
print("x1:",x1)

a {'rani', 'sonam', 'jai', 'mahek', 'rahul', 'raj'}
b {'jaya', 'tina', 'rani', 'rahul', 'java', 'python'}
x: {'mahek', 'raj', 'sonam', 'jai'}
x1: {'jaya', 'java', 'python', 'tina'}

In [ ]:
SYMMETRIC_DIFFERENCE

In [12]:
x={"jai","sam","tam"}
y = {"mahek","jai","tam"}
z = x.symmetric_difference(y)
print(z)

{'sam', 'mahek'}

In [ ]:
SUBSET

In [66]:
a = {"rahul","raj", "rani","sonam","jai","mahek"}
b = {"python","java","jaya","rahul","tina","rani"}
print("a",a)
print("b",b)
i = a.issubset(b)
print("i:",i)
print()
print()
c={5,6.7,"h"}
d={5,6.7,"h",(9,0)}
a1 = c.issubset(d)
print("a1:",a1)
print()
d={5,6.7,"h",(9,0)}
e = {5,6.7,"h",(9,0)}
a2 = e.issubset(d)
print("a2:",a2)

a {'rani', 'sonam', 'jai', 'mahek', 'rahul', 'raj'}
b {'jaya', 'tina', 'rani', 'rahul', 'java', 'python'}
i: False


a1: True

a2: True

In [ ]:
SUPERSET

In [64]:
a = {"rahul","raj", "rani","sonam","jai","mahek"}
b = {"python","java","jaya","rahul","tina","rani"}
print("a",a)
print("b",b)
a1= a.issuperset(b)
print("a1:",a1)

print()
a = {"rahul","rani", "tina"}
b = {"python","java","jaya","rahul","tina","rani"}
print("a",a)
print("b",b)
a2 = a.issuperset(b)
print("a2:",a2)
print()
a3 = b.issuperset(a)
print("a3:",a3)
print()
a = {"rahul","raj", "tina"}
b = {"python","java","jaya","rahul","tina","rani"}
print("a",a)
print("b",b)
a4 =b.issuperset(a)
print("a4:",a4)

a {'rani', 'sonam', 'jai', 'mahek', 'rahul', 'raj'}
b {'jaya', 'tina', 'rani', 'rahul', 'java', 'python'}
a1: False

a {'rani', 'rahul', 'tina'}
b {'jaya', 'tina', 'rani', 'rahul', 'java', 'python'}
a2: False

a3: True

a {'tina', 'rahul', 'raj'}
b {'jaya', 'tina', 'rani', 'rahul', 'java', 'python'}
a4: False

In [ ]:
PASSING SET TO A FUNCTION

In [71]:
def show(s):
    print(s)
    print(type(s))
    for i in s:
        print("The values are:",i)
st = {1,2.3,"jai",(9,0)}
show(st)

{1, 2.3, (9, 0), 'jai'}
<class 'set'>
The values are: 1
The values are: 2.3
The values are: (9, 0)
The values are: jai

In [ ]:
RETURING SET FROM FUNCTION

In [73]:
def show(s):
    print(s)
    print(type(s))
    for i in s:
        print("The elements are:",i)
    return s

st = {1,2.3,"jai",(9,0)}
new_set = show(st)
print("new set is:", new_set)
print(type(new_set))

{1, 2.3, (9, 0), 'jai'}
<class 'set'>
The elements are: 1
The elements are: 2.3
The elements are: (9, 0)
The elements are: jai
new set is: {1, 2.3, (9, 0), 'jai'}
<class 'set'>

In [ ]:
FROZEN SET:=It is Immutable

In [1]:
s = {10,20,30,40}
s.add(50)
s.remove(30)
print(s)

{40, 10, 50, 20}

In [ ]:
CONVERTING SET INTO FROZENSET

In [8]:
s = {10,20,30,"j",9.5,(1,1)}
print(s)
print(type(s))
print()
fs = frozenset(s)
print(fs)
print(type(fs))
# x = fs[0]
# print(x)---not allowed here(slicing also not allowed)
print()
# since it is immutable we can not apply add() or remove method on it, ok
# fs.add(24)
# print(fs)
# print()
fs.remove(24)
print(fs)

{9.5, 10, (1, 1), 'j', 20, 30}
<class 'set'>

frozenset({'j', (1, 1), 20, 9.5, 10, 30})
<class 'frozenset'>

TypeError: 'frozenset' object is not subscriptable

In [ ]:
CREATING FROZENSET FROM LIST

In [15]:
b = frozenset([1,3.4,2,2,"j",(3,4)])
print(b)
print(type(b))
print("length:" , len(b))

frozenset({1, 2, 3.4, (3, 4), 'j'})
<class 'frozenset'>
length: 5

In [ ]:
CREATING FROZEN SET FROM DICTIONARY

In [19]:
d = {"name":"jai", "age":35}
print(d)
print(type(d))
print()
s = frozenset(d)
print(s)
print(type(s))
print()
for i in s:
    print(i)
# HERE, WE ONLY GET THE KEYS OF DICTIONARY

{'name': 'jai', 'age': 35}
<class 'dict'>

frozenset({'name', 'age'})
<class 'frozenset'>

name
age

In [ ]:
DIFFERENCE BETWEEN FROZENSET AND TUPLE
1)In Tuple, Orders are Applicable
1)In Frozenset, Orders are not applicable

2)In tuple,Duplicates are allowed
In Frozenset, Duplicate are not allowed

3)In Tuple, Index,slicing are applicable
3)In Frozenset, Index,slicing are not applicable