In [ ]:
MAKETRANS() method

In [1]:
string = "hello universe"
dict = {"j":"21", "b":"34"}
x = string.maketrans(dict)
print(x)    
# Here alphabet value of dict should be a,b,c,d..etc and not any name,It should be of one length

{106: '21', 98: '34'}

In [2]:
print(ord("j"))

106

In [3]:
print(ord("b"))

98

In [10]:
string = "machine_learning"
a1 = "jhgf"
a2 = "1234"
x = string.maketrans(a1, a2)
print(x)
# Here, "1234" should be str only and not int, ok

{106: 49, 104: 50, 103: 51, 102: 52}

In [5]:
print(ord("j"))
print(ord("h"))
print(ord("1"))

106
104
49

In [6]:
tag = "h1"
text = "This is a Headline"
# <h1>This is a Headline</h1>
x = "<{0}>{1}</{0}>".format(tag, text)
print(x)

<h1>This is a Headline</h1>

In [7]:
tag = "h1"
text = "This is a Headline"
# <h1>This is a Headline</h1>
x = "<{0}>{1}</{0}>".format(tag, text)
print(x)

<h1>This is a Headline</h1>

In [8]:
person= {"name":"jai", "age":34}
print("My name is {} and my age is {}".format(person['name'], person['age']))

My name is jai and my age is 34

In [9]:
person = ("jai", 1)
print("My name is {0[0]} and my roll no is {0[1]}".format(person))

My name is jai and my roll no is 1

In [10]:
employee = ("jai", "IBM")
print("My name is {0[0]} and i am aworking in {0[1]} company".format(employee))

My name is jai and i am aworking in IBM company

In [11]:
class employee():
    def __init__(self, name, salary):
        self.name = name
        self.salary = salary
p1 = employee("jai", 32000)
print("The name of employee is {0.name} and his salary is {0.salary}".format(p1))

The name of employee is jai and his salary is 32000

In [4]:
for i in range(1,11):
    x = "the value of i is {:04}".format(i)
    print(x)
"""display :04 means showing each value of i in 4digit """

the value of i is 0001
the value of i is 0002
the value of i is 0003
the value of i is 0004
the value of i is 0005
the value of i is 0006
the value of i is 0007
the value of i is 0008
the value of i is 0009
the value of i is 0010

'display :04 means showing each value of i in 4digit '

In [5]:
for  i in range(1,11):
    sen = f'The value of i is {i:02}'
    print(sen)

The value of i is 01
The value of i is 02
The value of i is 03
The value of i is 04
The value of i is 05
The value of i is 06
The value of i is 07
The value of i is 08
The value of i is 09
The value of i is 10

In [13]:
print("1 MB is equivalent to {:,.2f} bytes".format(1000**2))

1 MB is equivalent to 1,000,000.00 bytes

In [14]:
print("1 MB is equivalent to {:,.2f} bytes".format(1000**2))

1 MB is equivalent to 1,000,000.00 bytes

In [2]:
print("The binary to decimal value is:{:d}".format(0b10011))

The binary to decimal value is:19

In [3]:
print("The binary value is : {:b}".format(500))

The binary value is : 111110100

In [15]:
import datetime
x = datetime.datetime(2018,10,24,3,43,12)
print(x)
print("The new date is {:%B %d, %Y}".format(x))

2018-10-24 03:43:12
The new date is October 24, 2018

In [16]:
print("The date {0:%B %d, %Y} fell on {0:%A} and {0:%j}th day of the year".format(x))

The date October 24, 2018 fell on Wednesday and 297th day of the year

In [17]:
pi = 3.141592653
print("The value of pi is {:.4f}".format(pi))

The value of pi is 3.1416

In [18]:
print("h")

h

In [19]:
a = """hello
world"""
print(a)
b = "hello world"
print(b)
c = 'helo world'
print(c)
print(type(c))
print(id(c))

hello
world
hello world
helo world
<class 'str'>
1517087097136

In [20]:
a = "helo's world"
print(a)

helo's world

In [21]:
c = 'helo"s world'
print(c)

helo"s world

In [22]:
str4 = 'Hello "Greeky shows", how are you'
print(str4)

Hello "Greeky shows", how are you

In [23]:
str5 = "hello \"geeky shows\" , how are you?"
print(str5)

hello "geeky shows" , how are you?

In [24]:
str6  ="I love studying \"machine learning\" in colleage"
print(str6)

I love studying "machine learning" in colleage

In [25]:
str6  ='hello\'s python\'s world'
print(str6)

hello's python's world

In [26]:
x = "I love python\nI am working on one of\nits project"
print(x)
z = "I love my world\nto the\nfullest"
print(z)

I love python
I am working on one of
its project
I love my world
to the
fullest

In [27]:
x =r"I love python\n and I am working on one of\n its project"
print(x)
z = r"I love my world\nto the\nfullest"
print(z)

I love python\n and I am working on one of\n its project
I love my world\nto the\nfullest

In [28]:
print("hi", "hello","hey", sep="::")
print("python","machine","numpy", sep="%")
print("1","2","4", sep="=")

hi::hello::hey
python%machine%numpy
1=2=4

In [29]:
print("hello world", "in python", sep="_", end="@")
print("is here")

hello world_in python@is here

In [30]:
print("jaitiwari",  24, sep="", end="@")
print("gmail.com")

jaitiwari24@gmail.com

In [31]:
print("1","2","3","4", sep=":", end=":")
print("5", end="::")
print("6")

1:2:3:4:5::6

In [32]:
str1 = """hello everyone's we are here doing python"project"""
print(str1)

hello everyone's we are here doing python"project

In [33]:
st = """hey guys!
please subscribe
jai tiwari"""
print(st)

hey guys!
please subscribe
jai tiwari

In [34]:
x = "helo everyone!please\" do come\" for my marriage"
print(x)

helo everyone!please" do come" for my marriage

In [35]:
x = "hello how is\tall here"
print(x)

hello how is	all here

In [3]:
ax = "hello\t world"
print(ax)

hello	 world

In [ ]:
x = "hello\t universe"
print(x)

In [ ]:
str1 = "geeky shows"
print(id(str))
str2 = "geeky shows"
print(id(str1))
str3 = "geeky shows"
print(id(str3))

In [ ]:
str1 = "geeky shows"
print(id(str1))
# str2 = "geeky shows"
# print(id(str2))

In [ ]:
str2 = "geeky shows"
print(id(str2))

In [ ]:
str1 = "Geeky shows"
print(id(str1))
unrefered element now and collect by garbage
str1 = "python"
print(id(str1))

In [6]:
# Index represent the position number of characters in the string
str1 = "Geeky shows"
# print(str1[0])
# print(str1[2])
# print(str1[10])
# print(str1[-1])
# print(str1[0:5])
# print(str1[6:11])
# print(str1[-5:])
# print(str1[:])
# print(str1[:5])
# print(str1[2:])
# print(str1[-7:-2])
# print(str1[-4:])
# print(str1[:-6])
# print(str1[2::3])
# print(str1[0:2])
# print(str1[0::2])
# print(str1[-8::2])
# print(str1[5:20])
# print(str1[1:7:2])
# print(str1[0:10:3])
# print(str1[::1])
# print(str1[::-1])

swohs ykeeG

In [ ]:
str1 = "jaitiwari"
print(len(str1))
# index = length-1

In [ ]:
str1 = "Geekyshows"
for x in str1:
    print(x)

In [ ]:
str1 = "Jaitiwari"
for i in range(len(str1)):
    print(str1[i])

In [ ]:
st = "machine learning"
for i in range(len(st)):
    print(st[i].upper())
    if i==6:
        break
print("THE END")

In [ ]:
str1 = "Jaitiwari"
n = len(str1)
i = 0
while i <n:
    print(str1[i])
    i +=1

In [ ]:
str3 = "Hello python programming"
n = len(str3)
i = 0
while i<n:
    print(str3[i])
    i +=1

In [ ]:
st = "hello python programming"
i = 0
while i<=len(st):
    print(st[i])
    i+=1
    if i==4:
        break
print("THE END")

In [ ]:
str11 = "python"
n = len(str11)
i = 0
while i < n:
    print(str11[i])
    i+=1

In [ ]:
# list,set,dict = mutable
# number,string,tuple = immutable

In [ ]:
str1 = "Machine learning"
str1[0] = "N"
print(str1)

In [ ]:
str1 = "golang"
str1 = "python"
for i in range(len(str1)):
    print(str1[i])

In [ ]:
str1 ="Geekyshows"
print(str1*5)
print(str1[0:5]*4)

In [5]:
# Concatenation of string
str1 = "hello"
str2 = "python"
print(str1 + " " + str2)
print(str1 +","+"jai")
print(str1 + " " + "world!")
print(str1 + " " + "universe!")
print("jai is loving" + " "+ str2)
print(str1 + " "+ str2 + " "+"happy")

hello python
hello,jai
hello world!
hello universe!
jai is loving python
hello python happy

In [ ]:
str1 = "jaitiwari"
str2 = "jaitiwari"
result = str1==str2
print(result)
str3 = "python"
result = str3 == str2
print(result)
str5 = "B"
str6 = "G"
result = str5 <str6
print(result)

In [ ]:
s1 = "B"
s2  ="F"
result = s1>s2
print(result)
result = s2>s1
print(result)

In [ ]:
str1 = "cat"
str2 = "cot"
result = str1<str2
print(result)
result1 = str1>str2
print(result1)

In [ ]:
str1 = "apple"
str2  ="Apple"
result = str1>str2
print(result)
res2 = str2>str1
print(res2)

In [ ]:
str = "acorn"
str1 = "acoustic"
res = str<str1
print(res)

# TUPLE N LIST SOME IMP CONCEPT

In [ ]:
s = ("grapes", "mango", "apple")
s1 = ["grapes","banana","mango","apple"]
# In this tuple we use sorted and no sort method and it return a list bcoz tuple is immutable object
# print(sorted(s))
print(sorted(s))
s1.sort()
print(s1)
print(sorted(s1))

In [ ]:
s1 = ["grapes","banana","mango","apple"]
s2 = ["c","v","A"]
s1.sort()
print(s1)
print(sorted(s2))
# we can use sort and sorted both method in list

In [ ]:
s1 = {"grapes","banana","mango","apple"}
# In case of set also we can use sorted method and not sort method and we get the result in list
print(sorted(s1))

In [ ]:
guitars = [
    {"model":"yamaha", "price":8400},
    {"model":"faith neptune", "price":50000},
    {"model":"faith apolo venus", "price":35000},
    {"model":"taylor","price":450000}
]
print(guitars)
print(sorted(guitars, key = lambda d:d['price'],reverse = True))

# string

In [ ]:
print("My age is {}".format(62))

In [ ]:
print("{1},{0}".format(10,20))
print("{0},,{1}".format(20,40))

In [ ]:
print("Number1 is {num1} and Number2 is {num2}".format(num1 = 20, num2 = 40))

In [ ]:
print("Number1 is {num2} and Number2 is {num1}".format(num1 = 40, num2=50))

In [ ]:
print("{0}, {1}".format(10,20))
print("{1} and {0}".format(10,20))

In [ ]:
print("the number is {num}".format(num=10))

In [ ]:
print("{},{}".format(0.56, 20.42))

In [ ]:
print("{1},{0}".format(20.1,56.6))

In [ ]:
print("{1},,{0}".format(90.0, 34.4))
# value inside format print as string in output

In [ ]:
print("The name is {1} and {0}".format("geeky", "shows"))

In [ ]:
print("The name is {0} and {1}".format("geeky", "shows"))

In [ ]:
print("{str1} {str2}".format(str1 = "geeky", str2 = "shows"))

In [ ]:
print("The name is {str2} {str1}".format(str1 = "geeky", str2 = "shows"))

In [ ]:
print("The name is {str2} {str1}".format(str1 = "Geeky", str2 = "shows"))

In [ ]:
print("The name is {0} {1}".format("Geeky", "shows"))

In [ ]:
print("The name is {1}, {0}".format("Geeky", "shows"))

In [ ]:
print("{str1}".format(str1 = "geekyshows"))

In [ ]:
print("Hello my name is {}".format("geekyshows"))

In [ ]:
print("{},{}".format(10, "shows"))
print("{1},{0}".format(10, "shows"))

In [ ]:
print("{:d}".format(15))
print("{0:d}".format(15))
print("The num is {num:d}".format(num=15))

In [ ]:
print("The number is {num:5d}".format(num=15))

In [ ]:
print("The number is {num:05d}".format(num=15))

In [ ]:
print("The number is {num:+5d}".format(num=15))

In [ ]:
print("The number is {num:<5d}".format(num=15))

In [ ]:
print("The number is {num:*<5d}".format(num=15))

In [ ]:
print("The number is {num:*>5d}".format(num=15))

In [ ]:
print("The number is {num:*^5d}".format(num=15))

In [ ]:
from collections import namedtuple
x = namedtuple("abc", ("jai", "sam","depak"))
y = x(90,56,78)
print(y)

In [ ]:
print("The number is {}".format(15.65))
print("The number is {0:f}".format(15.65))
print("The number is {num:f}".format(num=15.65))

In [ ]:
print("The number is {num1:8f}".format(num1=12.34))

In [ ]:
print("The number is {num2:8.3f}".format(num2 = 34.45))

In [ ]:
print("The number is {num4:>8.4f}".format(num4=12.3))

In [1]:
print("The number is {num5:*>8.3f}".format(num5 = 12.9))

The number is **12.900

In [ ]:
print("The number is {num1:*<8.3f}".format(num1=23.45))

In [ ]:
print("The number is {num2:*^8.2f}".format(num2=50.0))

In [4]:
print("The name is{:8s}".format("geeks"))

The name isgeeks

In [6]:
print("The name is {:<8s}".format("jai"))

The name is jai

In [7]:
print("The name is {:*<8s}".format("jai"))

The name is jai*****

In [8]:
print("The name is {:>8s}".format("sam"))

The name is      sam

In [9]:
print("The name is {:*>8.2s}".format("sam"))

The name is ******sa

In [10]:
print("The name is {:*^8s}".format("mahek"))

The name is *mahek**

In [11]:
print("The name is {:#^8s}".format("mahek"))

The name is #mahek##

In [12]:
print("The name is {:8s}".format("Geeks"))

The name is Geeks

In [13]:
print("The name is {:8.4s}".format("jaitiwari"))

The name is jait

In [14]:
print("The name is {:8.3s}".format("python"))

The name is pyt

In [15]:
print("The name is {:>8s}".format("jay"))

The name is      jay

In [16]:
print("The name is {:>8.2s}".format("jay"))

The name is       ja

In [17]:
print("The name is {:$>8.2s}".format("jay"))

The name is $$$$$$ja

In [18]:
print("The name is {:*<8.1s}".format("jay"))

The name is j*******

In [19]:
print("The name is {:&^8s}".format("jay"))

The name is &&jay&&&

In [20]:
print("The name is {:%^8.2s}".format("jay"))

The name is %%%ja%%%

In [21]:
print("The number is {:,}".format(34761245))

The number is 34,761,245

In [ ]:
print("The number is {:_}".format(275634654))

In [ ]:
name = "rahul"
age = 34.6
print("my name is {:8.3s} and my age is {:8.2f}".format(name, age))
print("My name is {} and my age is {}".format(name, age))

In [ ]:
a = 50
b = 5
print("The formatted answer is {:.1%}".format(a/b))

In [ ]:
value = (10,20)
print("The value is {0[0]}, {0[1]}".format(value))

In [ ]:
data1= {"name":"jai", "age":12}
print("The name is {} and age is {}".format(data1['name'],data1['age']))

In [ ]:
person = {"course":"java", "fees":30000}
print("The course is {} and the fees is {}".format(person['course'], person['fees']))
print("The course is {course} and the fes is {fees}".format(**person))

In [ ]:
print(f'The num is {3*6+12}')

In [ ]:
a=100
b=3
print(f"The number is {a*b:.2f}")

In [ ]:
a=100
b=3
print(f"The product of number is {a*b:.3f}")

In [ ]:
a = 45
b =5
print(f"The division is {a/b:.3f}")

In [ ]:
a = 45
b = 5
print(f"The division is {a/b:.3%}")

In [ ]:
marks = (40,50)
print(f"The marks is {marks[0]} and {marks[1]}")

In [ ]:
employee = ("jai", "sun")
print(f"The name is {employee[0]} and {employee[1]}")

In [ ]:
data = {"name":"rahul", "marks":20}
print(f"The name is {data['name']} and my marks is {data['marks']}")

In [ ]:
name = "jai"
print(f"The name is {name.upper():8.2s}")

In [ ]:
name = "python"
print(f"The programming language is {name.upper():@>8.2s}")

In [ ]:
print(f"{10}")

In [ ]:
print(f"{{10}}")

In [ ]:
import datetime
dt = datetime.datetime(2020, 10,21,6,23,14)
print(f"The date is {dt}")
print(f"The new date is {dt:%d/%b/%y}")

In [ ]:
print("hello world\", i\"m here")

In [ ]:
print(""" python is a
high level object oriented
programming language""")

In [37]:
print("great people are\nborn to\nto do great things")

great people are
born to
to do great things

# check if len of number is even(while input d number)(i.e 1276,34,897645) and if sum of first half digit is equal to sum of second half digit then yes ,else print 'no';

In [6]:
n = int(input("Enter the number"))
sum1 = 0
sum2 = 0
for i in range(len(str(n))//2):
    sum1 = sum1 + int(str(n)[i])

for i in range(len(str(n))//2, len(str(n))):
    sum2 =   sum2 + int(str(n)[i])
if sum1 == sum2:
    print("yes")
else:
    print("no")

Enter the number4527
yes

####

# string-converting string to list(by using split() method)

In [6]:
sentance  = "The every part of python has pandas"
x = sentance.split()
"""by default if u give nothing then space is a delimeter,otherwise u can also give space as a dilimeter"""
# when u split the string it automatically converted into list
print(x)
x1 = sentance.split("p")
print(x1)
x2 = sentance.split(maxsplit=2)
print(x2)

['The', 'every', 'part', 'of', 'python', 'has', 'pandas']
['The every ', 'art of ', 'ython has ', 'andas']
['The', 'every', 'part of python has pandas']

# converting list to string

In [12]:
# CONVERTING LIST(OF TEXT) INTO STRING
list1 = ["f","jai","q","p","y","t","h","o","n"]
x = " ".join(list1)
print(x)
print(type(x))
# list should have all str type data in it

f jai q p y t h o n
<class 'str'>

# Reverse the given string through Recursive method

In [1]:
def reverse_str(str1):
    if len(str1) == 1:
        return str1
    else:
        return reverse_str(str1[1:])+str1[0]
    
str1 = input("Enter the string: ")
str2 = reverse_str(str1)
print("Reversed string is:", str2)

Enter the string: machineLearning
Reversed string is: gninraeLenihcam

# Extracting vowels from string

In [1]:
def vowels(str):
    v = ["a","e","i","o","u","A","E","I","O","U"]
    for i in str:
        if i in v:
            str = str.replace(i, " ")
    print(str)
vowels("machineLearning")

m ch n L  rn ng

In [2]:
str = "Welcome to vardhan Tutorial"
for i in str:
    print(i, end="$")

W$e$l$c$o$m$e$ $t$o$ $v$a$r$d$h$a$n$ $T$u$t$o$r$i$a$l$

# How to count total uppercase,lowercase and vowels from string in python

In [4]:
str = "Welcome To Jai Tutorial"
l,u = 0,0
v = 0
for i in str:
    if i>='a' and i<='z':
        l +=1
    if i>='A'and i<='Z':
        u +=1
    if i in 'aeiouAEIOU':
        v +=1
print("lower:", l)
print("upper:", u)
print("vowels:", v)

lower: 16
upper: 4
vowels: 10

<!-- CONVERTING LIST(OF ANY DATA) INTO STRING -->

In [16]:
list1 = [9,3.4,[1,2],(5,6),"j",False]
x = (str(list1))
print(x)

[9, 3.4, [1, 2], (5, 6), 'j', False]

In [17]:
print"

j

In [1]:
str1 ="Geekyshows"
n = len(str1)
for i in range(n):
    print(str1[i])

G
e
e
k
y
s
h
o
w
s

In [4]:
str1 ="Geekyshows"
n = len(str1)
i=0
while i<=n:
    print(str1[i])
    i+=1

G
e
e
k
y
s
h
o
w
s

IndexError: string index out of range

In [ ]:
STRIP(),RSTRIP(),ISSTRIP() METHOD IN STRING

In [ ]:
strip =remove space from both side of string
rstrip=remove space which is at the right side of space
lstrip=remove space which is at left side of string

In [7]:
name = "    Geekyshows"
a = name.lstrip()
print(name)
print(a)

    Geekyshows
Geekyshows

In [8]:
name = "Geekyshows  "
a = name.rstrip()
print(name)
print(a)

Geekyshows
Geekyshows

In [9]:
name = "   Geekyshows    "
a = name.strip()
print(name)
print(a)

   Geekyshows
Geekyshows

In [10]:
name = "   Geekyshows  "
a = name.rstrip()
print(name)
print(a)

   Geekyshows
   Geekyshows

In [ ]:
Replace:=It replace a substring in a string with another sub string
split():=It split the string into pieces and these pieces returns in List
Join()=used to join strings into one string

In [ ]:
RELACE()METHOD

In [15]:
name = "Geekyshows"
old = 'Geeky'
new ='New'
str1 = name.replace(old, new)
print(name)
print(str1)
# or we can use
print()
str2 = name.replace("geeky","sonam")
print(name)
print(str2)
print()
x1 = name.replace("shows","damaka")
print(name)
print(x1)

Geekyshows
Newshows

Geekyshows
Geekyshows

Geekyshows
Geekydamaka

In [ ]:
SPLIT()METHOD

In [19]:
name = "Hello-how-are-you"
str1 = name.split("-")
print(str1)
str2 = name.split("h")
print(str2)
name1 = "jai prakash tiwari"
str3 = name1.split()
print(str3)
str4 = name1.split(" ")
print(str4)

['Hello', 'how', 'are', 'you']
['Hello-', 'ow-are-you']
['jai', 'prakash', 'tiwari']
['jai', 'prakash', 'tiwari']

In [ ]:
JOIN

In [22]:
name = ("hello","how","are","you")
str1 = " ".join(name)
print(str1)
print()
str2 = "_".join(name)
print(str2)
print()
str3 = "/".join(name)
print(str3)

hello how are you

hello_how_are_you

hello/how/are/you

In [ ]:
isspace:=return true if string contains space else returns false

In [26]:
name =" "
print(name.isspace())
name1 = "       "
print(name.isspace())
name2 = "jai        "
print(name2.isspace())
name3 = "            sam"
print(name3.isspace())

True
True
False
False

In [ ]:
STARTSWITH= used to chk whether a string start with substring not .It return True if it start with specific sub string

In [30]:
name = "hi how are you"
print(name.startswith("hi"))
print()
print(name.startswith("jai"))
print()
print(name.startswith("jam"))

True

False

False

In [ ]:
ENDSWITH

In [34]:
name = "hi how are you"
str1 = name.endswith("you")
print(str1)
str2 = name.endswith("ou")
print(str2)
str3 = name.endswith("sam")
print(str3)
str3 = name.endswith("bye")
print(str3)

True
True
False
False