# while loop

In [ ]:
WHILE LOOP-It is also called Conditional loop.It is used to iteratate over the elements until the condition is met
or condition becomes false
In this we do not know how many times iteration are required
control +c= to interrupt the never stop going loop

In [3]:
i = 1
while i<16:
    print(i)
    i+=2
print("jai")

1
3
5
7
9
11
13
15
jai

In [53]:
x =0
while True:
    if x == 5:
        break
    print(x)
    x+=1

0
1
2
3
4

In [5]:
a=2
while a<18:
    if a == 14:
        break
    print(a)
    a+=2

2
4
6
8
10
12

In [6]:
n=6
while n>0:
    print(n)
    n -=1
print("f")

6
5
4
3
2
1
f

In [62]:
item  =["jai","sam","tam"]
x = print(item.pop())
# pop() remove last item in list by default otherwise give index number
print(x)
print(item)
print()

item1  =["jai","sam","tam"]
while True:

    try:
        print(item1.pop(-1))
    except IndexError:
        print("done")
        break

tam
None
['jai', 'sam']

tam
sam
jai
done

In [61]:
a = ["2",9.0,"h","a",(3,4),[5,6]]
while True:
    try:
        print(a.pop(-1))
    except IndexError:
        print("done")
        break

[5, 6]
(3, 4)
a
h
9.0
2
done

In [60]:
a = 8
while a>0:
    if a ==5:
        print("no more")
        break
    print(a)
    a -=1
print("end")

8
7
6
no more
end

In [59]:
a = 10
while a>0:
    a -=1
    if a== 6:
        continue
    print(a)
  
print("end")

9
8
7
5
4
3
2
1
0
end

In [58]:
v =10
while v>0:
    v = v-1
    if v==6:
        continue
    print(v)
print("jai")

9
8
7
5
4
3
2
1
0
jai

In [57]:
b=8
while b>0:
    print(b)
    b -=1
else:
    print("The end")

8
7
6
5
4
3
2
1
The end

In [56]:
c  =6
while c>0:
    if c==3:
        break
    print(c)
    c -=1
else:
    print("The end")

6
5
4

In [55]:
c = 6
while c>0:
    c -=1
    if c==3:
        continue
    print(c)
else:
    print("bhale bhale")

5
4
2
1
0
bhale bhale

In [56]:
c=8
while c>2:
    c-=2
    if c==4:
        continue
    print('c:', c)
print('end')

c: 6
c: 2
end

In [54]:
a = ['foo', 'bar', 'baz', 'qux']
s = 'corge'
try:
    print(a.index('corge'))
except ValueError:
    print("not found in list")

not found in list

In [ ]:
# INFINITE LOOP
while True:
    print("jai ho!")
# control+c(to stop it)

In [53]:
age = int(input("enter the age"))
gender = input("enter the gendar ")
if age <18:
    if gender =='M':
        print("son")
    else:
        print("daughter")
elif age >=18 and age<65:
    if gender == 'M':
        print("father")
    else:
        print("mother")
else:
    if gender == "M":
        print("grandfather")
    else:
        print("grandmother")

enter the age34
enter the gendarf
mother

In [52]:
a = ["foo", "bar"]
while len(a):
    print(a.pop(0))
   

    while len(b):
        print(b.pop(0))
print("End")

foo
jai
sam
tam
bar
jai
sam
tam
End

In [51]:
count = 0
while count<3:
    print("hello jai")
    count += 1

hello jai
hello jai
hello jai

In [50]:
a = 2
while a <10:
    a +=1
    if a== 5:
        continue
    print(a)

3
4
6
7
8
9
10

In [49]:
i = 1
while i<=5:
    print("telusko")
    i+=1
print("End")

telusko
telusko
telusko
telusko
telusko
End

In [48]:
i=6
while i>=1:
    print("jai ho!", i)
    i = i-1
print("end")

jai ho! 6
jai ho! 5
jai ho! 4
jai ho! 3
jai ho! 2
jai ho! 1
end

In [47]:
i = 1
while i<=5:
    print("Telusko",end=" ")
    j=1
    while j<=4:
        print("Rocks",end=" ")
        j+=1
    i = i+1
    print()

Telusko Rocks Rocks Rocks Rocks
Telusko Rocks Rocks Rocks Rocks
Telusko Rocks Rocks Rocks Rocks
Telusko Rocks Rocks Rocks Rocks
Telusko Rocks Rocks Rocks Rocks

# GUESS THE NUMBER WHICH IS 9 IN 3 CHANCES

In [4]:
# from mosh youtube channnel(python)

number_to_guess =9
total_chances = 0
chances_limit =3
while total_chances <chances_limit:
    guess_number = int(input("Enter the number: "))
    total_chances+=1
    if guess_number == number_to_guess:
        print("You guess it right")
        break 
else:
    print("Your chances are over now")

Enter the number: 4
Enter the number: 8
Enter the number: 9
You guess it right

# when type start ,then print car started, when stop then print car get stopped ,Otherwise quit

In [ ]:
command =" "
while True:
    command =input("start or stop or quit or help")
    if command == "start":
        print("Car started")
    elif command == 'stop':
        print("Car stopped")
    elif command == "help":
        print(""" start = car started
        stop =car stopped
        quit = quit""")
    elif command == " quit":
        break 
    else:
        print("You have entered wrong command: ")
print("End")

start or stop or quit or helpquit
You have entered wrong command:

# when car started and again when you typed start then it ,print car is already started and when you again type stop then it shows message car is already stopped

In [1]:
command= " "
started =False
while True:
    command =input('start or stop or quit or help')
    if command == 'start':
        if started:
            print("Car is already started")
        else:
            started =True
            print('Car sarted')
    elif command == 'stop':
        if not started:
            print('Car is already stopped')
        else:
            started =False
            print("Car stopped")
        
    elif command == 'help':
        print(""" start = car started
        stop = car stoppped
        quit = quit from program""")
    elif command == "quit":
        break 
    else:
        print("You have entered wrong commmand: ")

start or stop or quit or helpstart
Car sarted
start or stop or quit or helpstart
Car is already started
start or stop or quit or helpstop
Car stopped
start or stop or quit or helpstop
Car is already stopped
start or stop or quit or helpquit

# FOR LOOP

In [ ]:
It is used for iterating over the elements of sequences(string,list,tuple,set,dict,range) 
In this we know how many iteration are required.

In [46]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i)
#     print(i[0:2])
print()

# ANOTHER WAY
for i in range(len(fruits)):
    print(fruits[i])

apple
banana
cherry

apple
banana
cherry

In [45]:
fruits1= ['Banana','Guava','grapes','Apple','Cherry']
for j in fruits1:
    print(j[0:4])
print("Limited_value_printed")

Bana
Guav
grap
Appl
Cher
Limited_value_printed

In [44]:
# we want only 1 character from each word in below list in straight line with space
fruits2= ['Banana','Guava','Grapes','Apple','Cherry']
for j in fruits2:
    print(j[0:1], end=" ")

B G G A C

In [43]:
# we want each value below on another    but with 2 spaces
fruits3= ['Banana','Guava','Grapes','Apple','Cherry']
for i in fruits3:
    print(i)
    print()
    print()

Banana


Guava


Grapes


Apple


Cherry

In [41]:
fruits = ("apple", "banana", "cherry")
for i in fruits:
    print(i)
print()
for i in range(len(fruits)):
    print(fruits[i])
# similarly with set

apple
banana
cherry

apple
banana
cherry

In [42]:
# IMPORTANT

nums = [1,2,3,4,5]
for num in nums:
    for letter in 'abc':
        print(num,letter)
    print()

1 a
1 b
1 c

2 a
2 b
2 c

3 a
3 b
3 c

4 a
4 b
4 c

5 a
5 b
5 c

In [39]:
a = "python"
for i in a:
    print(i)
print()
for i in range(len(a)):
    print(a[i])

p
y
t
h
o
n

p
y
t
h
o
n

In [38]:
a1 = "Python"
for i in range(len(a1)):
    print(i," ",a1[i])
print("Finish")

0   P
1   y
2   t
3   h
4   o
5   n
Finish

In [1]:
# for every position(like 1,2,3,4..) i want text 'P' only

a2 = "Python"
for i in range(len(a2)):
    print(i, " ", a2[0])

0   P
1   P
2   P
3   P
4   P
5   P

In [36]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [9]:
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
    print('number: ',i+1, 'fruitName:', fruits[i])

number:  1 fruitName: apple
number:  2 fruitName: banana
number:  3 fruitName: cherry

In [35]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    if x == "banana":
        break
    print(x)

apple

In [34]:
fruits = ["apple", "banana", "cherry","mango"]
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry
mango

In [33]:
for i in range(10):
    print(i)
print()
for i in range(1,12):
    print(i)
print()
for i in range(1,20,3):
    print(i)
print()
for i in range(20,0,-2):
    print(i)

0
1
2
3
4
5
6
7
8
9

1
2
3
4
5
6
7
8
9
10
11

1
4
7
10
13
16
19

20
18
16
14
12
10
8
6
4
2

In [32]:
x = range(8)
for i in x:
    print(i, end=" ")

0 1 2 3 4 5 6 7

In [31]:
y = range(2,13)
for i in y:
    print(i, end=" ")

2 3 4 5 6 7 8 9 10 11 12

In [10]:
exp =[23,40,14,28,35]
a = 0
for i in exp:
    a = a+i
print('Total sum in a is:', a)

Total sum in a is: 140

In [13]:
exp =[23,40,14,28,35]
total =0
for i in range(len(exp)):
    print('number:', i+1, 'age:', exp[i])
    total+exp[i]
print("Total Age:", total+exp[i])

number: 1 age: 23
number: 2 age: 40
number: 3 age: 14
number: 4 age: 28
number: 5 age: 35
Total Age: 35

In [2]:
mylist  =['a','b','c','d','e']
print("mylist:", mylist)
for index, value in enumerate(mylist):
    print('number: ', index,'Alphabet: ', value)

mylist: ['a', 'b', 'c', 'd', 'e']
number:  0 Alphabet:  a
number:  1 Alphabet:  b
number:  2 Alphabet:  c
number:  3 Alphabet:  d
number:  4 Alphabet:  e

In [15]:
key_location ='chair'
locations =['Garage','Living room','sofa','chair','closet']
for i in locations:
    if i == key_location:
        print('key found at location ', i)
        break
    else:
        print('key not found at: ', i)
print('End')

key not found at:  Garage
key not found at:  Living room
key not found at:  sofa
key found at location  chair
End

In [30]:
for x in range(6):
    print(x)
else:
    print("finally over")

0
1
2
3
4
5
finally over

In [29]:
for x in range(6):
    if x ==3:
        break
    print(x)
else:
    print("its over")

0
1
2

In [6]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]
for x in adj:
    for y in fruits:
        print(x,y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [7]:
for x in [0,1,2,3,4]:
    pass

In [8]:
for i in range(1,11):
    if i == 6:
        continue
    print(i, end=" ")
else:
    print("done")

1 2 3 4 5 7 8 9 10 done

In [ ]:
s = "matplotlib"
print("j")
try:
    i = 0
    while True:
         print(s[i])
    i+=1
except IndexError:
    print("done")

In [5]:
s = "matplotlib"
try:
    i = 0
    while True:
        print(s[i])
        i+=1
    
except IndexError:
    print("The end")

m
a
t
p
l
o
t
l
i
b
The end

In [1]:
s = {1,2,3,1,2,5,3,5,"jai"}
for i in s:
    print(i, end=" ")
print("finish_ho")

1 2 3 5 jai finish_ho

In [3]:
myList = ["python","hub"]
MyList =[]
for i in myList:
    MyList.append(i.upper())
print(myList)

['python', 'hub']

In [4]:
s = "matplotlib"
i = 0
while True:
    print(s[i])
    if s[i] == "p" or s[i] == "o":
        break
    i +=1
else:
    print("end")
print("end of loop")  
# --inside else will not be printed

m
a
t
p
end of loop

In [3]:
s = "matplotlib"
for i in s:
    if i == "t" or i == "o":
        break
    print(i)
print("out of loop")

m
a
out of loop

In [64]:
s = "matplotlib"
for i in s:
    if i == "p" or i =="o":
        continue
    print("i:", i)
print("Loop")

i: m
i: a
i: t
i: l
i: t
i: l
i: i
i: b
Loop

In [4]:
g = "geeks"
for i in g:
    if i == "k":
        print("executed")
        pass
    print(i)

g
e
e
executed
k
s

In [ ]:
EXERCISE(CODE BASICS)

In [ ]:
After flipping a coin 12 times you got this result
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails","heads","tails"]
# Q1-# Using for loop figure out how many times you got heads(it means we have to count 'heads')

In [18]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails","heads","tails"]
count = 0
for i in result:
    if i == "heads":
        count+=1
print("Number of heads in result are :", count)

Number of heads in result are : 5

In [ ]:
Q2-Print square of all numbers between 1 to 15 except even numbers

In [23]:
for i in range(1,16):
    if i%2==0:
        continue
    print('square of odd number are:',i, i*i)

square of odd number are: 1 1
square of odd number are: 3 9
square of odd number are: 5 25
square of odd number are: 7 49
square of odd number are: 9 81
square of odd number are: 11 121
square of odd number are: 13 169
square of odd number are: 15 225

In [ ]:
Q3-Your monthly expense list (from Jan to May) looks like this,
expense_list = [2340, 2500, 2100, 3100, 2980]
# Write a program that asks you to enter an expense amount and program
# should tell you in which month that expense occurred. If expense is not
# found then it should print that as well.

In [28]:
expense_list = [2340, 2500, 2100, 3100, 2980]
month_list = ["January", "February", "March", "April", "May"]
month =-1
e = int(input("Enter the Expenses "))
for i in range(len(expense_list)):
    if e == expense_list[i]:
        month =i
        break 
if month !=-1:
    print('You spend {} amount in {} month'.format(e, month_list[month]))
else:
    print( 'you do not spend {} Amount in any month'.format(e))

Enter the Expenses 45000
you do not spend 45000 Amount in any month

In [ ]:
 Q4 Write a program that prints following shape
# ```
# *
# **
# ***
# ****
# *****
# ```

In [33]:
for i in range(1,8):
    s = " "
    for j in range(i):
        s+="*"
    print(s)

 *
 **
 ***
 ****
 *****
 ******
 *******

# difference between pass and continuous

In [ ]:
continue:=:It is used within the loop to skip the current iteration and proceed with next iteration
Break:=Current iteration of the loop is stopped abd control is transfered to outside the loop

In [ ]:
SKIP 'K' BELOW

In [9]:
g = "Geeks"
for i in g:
    if i == "k":
        print("continuous executed")
        continue
    print(i)

G
e
e
continuous executed
s

In [ ]:
WE WANT ONLY SQUARE OF ODD NUMBER FROM THE GIVEN RANGE from 1 to 15

In [3]:
for i in range(1,16):
    if i%2== 0:
        continue
    print(i*i)

1
9
25
49
81
121
169
225

In [ ]:
I WANT TO SKIP GREATER THAN 10 NUMBER IN A RANGE OF 20 NUMBERS

In [36]:
for i in range(20):
    if i >10:
        continue
    print("i:",i)

i: 0
i: 1
i: 2
i: 3
i: 4
i: 5
i: 6
i: 7
i: 8
i: 9
i: 10

In [38]:
for i in range(20):
    if i>10:
        continue
print("i:", i)

i: 19

In [ ]:
FROM LIST I WANT ONLY FIRST 3 NUMBERS

In [39]:
i = [1,2,3,4,5]
for j in i:
    if j>3:
        continue
    print('j:', j)

j: 1
j: 2
j: 3

In [ ]:
BREAK STATEMENT EXAMPLES

In [40]:
for x in range(20):
    if x>11:
        break 
    print('x:', x)

x: 0
x: 1
x: 2
x: 3
x: 4
x: 5
x: 6
x: 7
x: 8
x: 9
x: 10
x: 11

In [42]:
i= [1,2,3,4,5,6]
for j in i:
    if j == 5:
        break 
    print('j:', j)

j: 1
j: 2
j: 3
j: 4

In [ ]:
BREAK AND CONTINUE FOR (WHILE LOOP)

In [47]:
i =20
while i>0:
    if i == 12:
        break 
    print('i:', i)
    i -=4

i: 20
i: 16

In [ ]:
continue statement for while loop

In [49]:
i=1
while i<=15:
    if i%4==0:
        i+=1
        continue
    print('i', i)
    i+=1

i 1
i 2
i 3
i 5
i 6
i 7
i 9
i 10
i 11
i 13
i 14
i 15

In [52]:
i=1
while i <20:
    if i%3==0:
        i+=1
        continue
    print('i:', i)
    i+=1

i: 1
i: 2
i: 4
i: 5
i: 7
i: 8
i: 10
i: 11
i: 13
i: 14
i: 16
i: 17
i: 19

In [51]:
i=1
while i<20:
    if i%2==0:
        i+=2
        continue
    print('i:', i)
    i+=2

i: 1
i: 3
i: 5
i: 7
i: 9
i: 11
i: 13
i: 15
i: 17
i: 19

In [45]:
import cv2
cv2.__version__

'4.0.1'

In [11]:
s = [1,12,4,5,6,7,9]
sum = 0
for i in lis:
    sum = sum+i
    print(sum, end=" ")

1 13 17 22 28 35 44

In [12]:
lis= [1,12,4,5,6,7,9]
sum = 0
for i in lis:
    sum = sum+i
print("Total sum is", sum)

Total sum is 44

In [13]:
list = [1,2,3,4,5,6,7,8,9,10]
a = 2
for i in list:
    a =a*i
    print(a, end=" ")

2 4 12 48 240 1440 10080 80640 725760 7257600

In [14]:
list = [1,2,3,4,5,6,7,8,9,10]
a = 2
for i in list:
    c = a*i
    print(c, end=" ")

2 4 6 8 10 12 14 16 18 20

In [15]:
list = [1,2,3,4,5,6,7,8,9,10]
a =2
for i in list:
    a = a*i
print("The product is", a)

The product is 7257600

In [16]:
list = [1,2,3,4,5,6,7,8,9,10]
a =2
for i in list:
    c= a*i
print(c)

20

In [18]:
n = int(input("Enter the number"))
for i in range(1, n+1):
    print(n*i)

Enter the number5
5
10
15
20
25

In [19]:
str = "python"
for i in str:
    print(i, end="_")

p_y_t_h_o_n_

In [20]:
n = int(input("Enter the number"))
for i in range(1, n,3):
    print(i)

Enter the number10
1
4
7

In [ ]:
print("h")

In [21]:
x = int(input("How many candy do you want"))
print("I want",x)
i = 1
while i <=x:
    print("take candy")
    i+=1
print("end")

How many candy do you want6
I want 6
take candy
take candy
take candy
take candy
take candy
take candy
end

In [ ]:

suppoose we have only 10 canddies and user want more than
but we have 5 (so here we use break after 5 and jump out of loop)

In [22]:
av = 5
x = int(input("How many candies do u really want"))
print("I want only", x)
i = 1
while i<=x:
    if i>av:
        print("Out of stock")
        break
    print("Take candy",i)
    i+=1
print("Have a nice day!")

How many candies do u really want7
I want only 7
Take candy 1
Take candy 2
Take candy 3
Take candy 4
Take candy 5
Out of stock
Have a nice day!

In [ ]:
I want want all value from 1 to 40 except which r divisible by 3() i do not want that),use continue

In [23]:
for i in range(1,40):
    if i %3==0:
        continue
    print(i, end=" ")
    
print("Bye")

1 2 4 5 7 8 10 11 13 14 16 17 19 20 22 23 25 26 28 29 31 32 34 35 37 38 Bye

In [24]:
for i in range(1,50):
    if i %3 ==0 or i%5 ==0:
        continue
    print(i,end=" ")
print("Bye")

1 2 4 7 8 11 13 14 16 17 19 22 23 26 28 29 31 32 34 37 38 41 43 44 46 47 49 Bye

In [25]:
for i in range(1,30):
    if i%2==0:
        pass
    else:
        print(i, end=" ")
print("Bye")

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 Bye

In [26]:
for i in range(5):
    if i ==3:
        break
    print("Helo jai!", i)
print("end")

Helo jai! 0
Helo jai! 1
Helo jai! 2
end

In [ ]:
SWAP VARIABLES

In [27]:
a = 5
b = 8
temp = a
a = b
b = temp
print(a)
print(b)

8
5

In [28]:
a = 10
b = 20
a,b = b,a
print(a)
print(b)

20
10